include ../../includes/head.pug
include ../../includes/header.pug
include ../../includes/slider.pug
include ../../includes/gallery.pug
include ../../includes/footer.pug

doctype html
html(lang='ru')
  +head('../../','Смешанный пляжный турнир. Июль 2011')
  body
    +header("../../")
    main
      +slider('../../')
      .container.videos
        .row.mx-auto
          .col
            h3 Результаты прошедших соревнований
            h4 Смешанный пляжный турнир. Июль 2011
            img(src='../../img/videos/11/main.jpg' alt='main')
            p.
              Турнир прошёл на пляже в два круга, лимит по времени в каждой отдельной схватке не был предусмотрен. В 
              официальной его части от намазонок приняли участие Таис и Лена Васильева. <b>Таис</b> (170 см / 59 кг) -
              неоднократная победительница турниров клуба по сабмишн грэпплинг. Победительница и призёрка соревнований по кикбоксингу, каратэ, санда. <b>Елена Васильева</b> (168 см / 61 кг) - молодая и перспективная девушка, занимающаяся сабмишн грэпплингом, ММА, дзюдо и армрестлингом (кандидат в мастера спорта).<br>
              Со стороны мужчин в турнире боролись <b>Алекс</b> (175 см / 70 кг) и <b>Виллиан</b> (172 см / 80 кг). 
              Оба неоднократно принимали участие в соревнованиях по сабмишн грэпплингу<br>
              Фаворитами турнира были Виллиан и Таис, которые сравнительно легко справились со своими соперниками.<br>
              Виллиан победил Алекса в обеих схватках.
            h5 Виллиан против Алекса
            +gallery("Смотреть фото", 
              "../../img/competitions/2011/beach-mix-2011/smeshannyj-plyazhnyj-turnir-2011-1/", 1, 4, "first")
            p С Леной Виллиан боролся немного мягче, давая ей возможность проявить себя в атаке.
            h5 Виллиан против Елены
            +gallery("Смотреть фото", 
              "../../img/competitions/2011/beach-mix-2011/smeshannyj-plyazhnyj-turnir-2011-2/", 1, 4, "second")
            p Но и тут ... в результате победа Виллиана ... 2:0.
            p.
              Таис также одержала по две победы как над Леной Васильевой, так и над Алексом. Причём, если Виллиан заканчивал все свои схватки удушением соперников, то Таис продемонстрировала более разнообразную технику: удушения, "ножницы" на корпус и шею, различные болевые приёмы.
            h5 Таис против Елены
            +gallery("Смотреть фото","../../img/competitions/2011/beach-mix-2011/smeshannyj-plyazhnyj-turnir-2011-3/", 1, 4, "third")
            h5 Таис против Алекса
            +gallery("Смотреть фото","../../img/videos/14/smeshannyj-plyazhnyj-turnir-2011-4/", 1, 8, "fourth")
            p.
              Судьба первого места решалась в поединке Виллиана с Таис. Виллиан одержал победу в первой схватке, 
              Таис - во второй. В результате ничья. Наши фавориты разделили 1 и 2 места.
            h5 Таис против Виллиана
            +gallery("Смотреть фото","../../img/videos/14/smeshannyj-plyazhnyj-turnir-2011-5/", 1, 4, "fifth")
            p.
              Борьба за третье место между Еленой Васильевой и Алексом была особенно упорной. Достаточно сказать, что первая схватка между ними длилась более 12 минут и организаторы турнира пожалели, что не предусмотрели деление каждой отдельной схватки на раунды. В результате удушением победила Лена.
            h5 Елена против Алекса
            +gallery("Смотреть фото","../../img/videos/11/", 1, 27, "sixth")
            p Во втором поединке победа также была за Еленой Васильевой. В итоге 2:0, Лена - третья!
            hr
            p.
              В наших фильмах, которые продаются на <a href="https://gumroad.com/namazonclub">Gumroad</a>, можно увидеть борьбу Елены Васильевой с Алексом (<b>Видео 11</b>) и поединки Таис с мужчинами (<b>Видео 14</b>). 
    +footer("../../")  
    