include ../../includes/head.pug
include ../../includes/header.pug
include ../../includes/slider.pug
include ../../includes/gallery.pug
include ../../includes/footer.pug

doctype html
html(lang='ru')
  +head('../../','Пляжный турнир. Июнь 2011 года')
  body
    +header("../../")
    main
      +slider('../../')
      .container.videos
        .row.mx-auto
          .col
            h3 Результаты прошедших соревнований
            h4 Пляжный турнир. Июнь 2011 года
            img(src='../../img/videos/8/main.jpg' alt='main')
            p.
              Турнир прошёл в два круга, лимит по времени в каждой отдельной схватке не был предусмотрен. В соревновании приняли 
              участие:<br>
              - <b>Таис</b> (170 см / 59 кг) - неоднократная победительница турниров клуба по сабмишн грэпплингу;<br>
              - <b>Елена Васильева</b> (168 см / 61 кг) - молодая и перспективная намазонка;<br>
              - <b>Ирина (Власта)</b> (175 см / 68 кг) - дебютантка наших соревнований.<br>
              Более опытная Таис, относительно легко справилась со своими соперницами, продемонстрировав технику грэпплинга 
              (удушения и болевые приёмы). Таис заняла первое место, победив со счётом 2:0 как Елену, так и Ирину.
            h5 Таис против Елены
            +gallery("Смотреть фото", "../../img/videos/8/1/", 1, 15, "first")
            h5 Таис против Ирины
            +gallery("Смотреть фото", "../../img/videos/8/plyazhnyj-turnir-2011-2/", 1, 9, "second")
            p.
              Борьба за второе место между Еленой и Ириной получилась интересной и бескомпромиссной.<br>
              В первом поединке Елена провела красивый бросок и дальше уже не упустила своего преимущества, завершив схватку 
              удушением.<br>
              Во втором поединке преимущество было на стороне Ирины. Она довольно долго пыталась выполнить удушение,
              но Елена не сдавалась ... В результате, то ли силы оставили Ирину, то ли она потеряла веру в свою 
              победу, но она сразу сдалась, как только Елена вывернулась и оказалась сверху.
            h5 Ирина против Елены
            +gallery("Смотреть фото", "../../img/videos/8/plyazhnyj-turnir-2011-3/", 1, 17, "third")
            p.
              <b>Елена</b> - вторая;<br>
              <b>Ирина (Власта)</b> - третья.
            hr
            p.
              Если Вы хотите увидеть пляжный турнир на видео, то можете приобрести наш фильм (Видео 8) на  
              <a href="https://gumroad.com/namazonclub">Gumroad</a>.
    +footer("../../")  