include ../../includes/head.pug
include ../../includes/header.pug
include ../../includes/slider.pug
include ../../includes/gallery.pug
include ../../includes/footer.pug

doctype html
html(lang='ru')
  +head('../../','Рождественский Кубок 2011')
  body
    +header("../../")
    main
      +slider('../../')
      .container.videos
        .row.mx-auto
          .col
            h3 Результаты прошедших соревнований
            h4 Рождественский Кубок 2011   
            img(src='../../img/videos/4/19.jpg' alt='main')
            p.
              Турнир по борьбе сабмишн грэпплинг <b>"Рождественский Кубок 2011"</b> был организован совместно клубом "Намазон" 
              и "Спортивным Клубом "Кемпо-Кан". Соревнования прошли в два круга 6 января 2011 года. В турнире приняли участие:
              <b>Наталья Мысик</b> (180 см / 70 кг) , <b>Ксения Волошина</b> (160 см / 64 кг) и <b>Валентина Перфильева</b> 
              (172 см / 63 кг).<br>
              Особенностью турнира являлось существенное различие в весе и росте участниц. Так одна из участниц (Наталья) была много выше и тяжелее остальных девушек. Используя своё преимущество, Наталья часто проводила различные удержания соперниц (особенно School Girl Pins), из которых потом с успехом выполняла удушения и болевые приёмы. Девушки боролись очень жёстко, одно из таких удушений закончилось "отключением" соперницы.
            +gallery("Смотреть фото", "../../img/competitions/2011/christmas-2011/rozhdestvenskij-kubok-2011-1/", 1, 16, "first")
            p.
              В результате, Наталья стала первой, Ксения и Валентина заняли второе и третье места соответственно.<br>
              Вне рамок турнира был проведён призовой бой между Таис (170 см / 60 кг) и Натальей Мысик (180 см / 70 кг).
            +gallery("Смотреть фото", "../../img/competitions/2011/christmas-2011/rozhdestvenskij-kubok-2011-2/", 1, 4, "second")
            p.
              Убедительную победу одержала Таис.
            hr
            p.
              Весь турнир фиксировался на видео. Если Вам нравится женская борьба с большим количеством удержаний и ножницами на корпус 
              и голову, то Вам должен понравиться наш фильм. Хотите увидеть, как всё было? Купите наш фильм (<b>Видео 4</b>) на 
              <a href="https://gumroad.com/namazonclub">Gumroad</a> и узнаете.
    +footer("../../")