include card.pug
.row.card-row
  div(class='col-2.4')
    +card('Рождественский кубок.<br>ММА. 2012','2012/christmas-2012.html','../img/competitions/thumb/Elena_Vasilyeva_vs_Kara_Teller.jpg','Elena Vasilyeva vs. Kara Teller')
  div(class='col-2.4')
    +card('Кара против Светланы<br> и Таис','mma-2012.pug','../img/competitions/thumb/Kara_Teller_vs_Svetlana_Solovyova.jpg','Kara Teller vs. Svetlana Solovyova')
  div(class='col-2.4')
    +card('Спортивный праздник. ММА.<br>8 май 2012 года','#','../img/competitions/thumb/KaraTellervsDariaBalina.jpg','Kara Teller vs. Daria Balina')
  div(class='col-2.4')
    +card('Варвара Акулоа vs. Таис.<br>Борьба. 2012','#','../img/competitions/thumb/VarvaravsTais.jpg','Varvara vs. Tais')
  div(class='col-2.4')
    +card('Первая Невская Арена.<br> ММА турнир. 2012','#','../img/competitions/thumb/video-20.jpg','Yulia Fedutenko vs. Kara Teller')