include card.pug
.row.card-row
  div(class='col-2.4')
    +card('Женские силовые<br> единоборства. Турнир. 2013','#','../img/competitions/thumb/tournament-2013.jpg','tournament-2013')
  div(class='col-2.4')
    +card('Турнир по борьбе для <br> начинающих. Май 2014','#','../img/competitions/thumb/tournament-2014.jpg','tournament-2014')
  div(class='col-2.4')
    +card('Турнир по грэпплингу.<br> Октябрь 2014 ','#','../img/competitions/thumb/grappling-2014.jpg','grappling-2014')