include card.pug
.row.card-row
  .col
    +card('Таис. 2013','#','../img/girls/tais2012-2013.jpg','tais2012-2013')
  .col
    +card('Кара Теллер. 2012','#','../img/girls/kara-teller.jpg','kara-teller')
  .col
    +card('Елена Васильева. 2013','#','../img/girls/elena2012-2013.jpg','elena2012-2013')
  .col
    +card('Дарья Балина. 2012','#','../img/girls/darya-balina.jpg','darya-balina')