include card.pug
.row.card-row
  div(class='col-2.4')
    +card('Женские силовые<br> единоборства. Турнир. 2013','2013-2014/tournament-2013.html','../img/competitions/thumb/tournament-2013.jpg','tournament-2013')
  div(class='col-2.4')
    +card('Турнир по борьбе для <br> начинающих. Май 2014','2013-2014/tournament-2014.html','../img/competitions/thumb/tournament-2014.jpg','tournament-2014')
  div(class='col-2.4')
    +card('Турнир по грэпплингу.<br> Октябрь 2014 ','2013-2014/grappling-2014.html','../img/competitions/thumb/grappling-2014.jpg','grappling-2014')