include card.pug
.row.card-row
  div(class='col-2.4')
    +card('Масленица 2016. Женские<br> силовые единоборства','2015-2017/maslenitsa-2016.html','../img/competitions/thumb/maslenitsa-2016.jpg','maslenitsa-2016')
  div(class='col-2.4')
    +card('Масленица 2017. Женские<br> силовые соревнования','2015-2017/maslenitsa-2017.html','../img/competitions/thumb/maslenitsa-2017.jpg','maslenitsa-2017')