include card.pug
.row.card-row
  div(class='col-2.4')
    +card('Female power competitions for<br>the Maslenitsa week, 2016','2015-2017/maslenitsa-2016Eng.html','../img/competitions/thumb/maslenitsa-2016.jpg','maslenitsa-2016')