include card.pug
.row.card-row
  div(class='col-2.4')
    +card('Рождественский турнир.<br>Борьба. 2011',
      '2011/christmas-2011.html',
      '../img/competitions/thumb/video-4.jpg',
      'Natalia Mysik vs. Valentina Perfilyeva')
  div(class='col-2.4')
    +card('Пляжный турнир.<br>Борьба. 2011',
      '2011/beach-2011.html',
      '../img/competitions/thumb/video-8.jpg',
      'Elena Vasilyeva vs. Irina (Vlasta)')
  div(class='col-2.4')
    +card('Смешанный пляжный<br>турнир. 2011',
      '2011/beach-mix-2011.html',
      '../img/competitions/thumb/2011-alex-elena.jpg',
      'Elena Vasilyeva vs. Alex')