include card.pug
.row.card-row
  div(class='col-2.4')
    +card('VIDEO 3<br>Beach Wrestling<br>Mixed Tournament. 2010','videos/3mix.html','img/video/mixWrestThumb/video-3-wm.jpg','video-3-wm')
  div(class='col-2.4')
    +card('VIDEO 5<br>Villian  vs  Tais<br>Mixed Wrestling. 2011','videos/5.html','img/video/mixWrestThumb/video-5.jpg','video-5')
  div(class='col-2.4')
    +card('VIDEO 7<br>Alex  vs  Tais<br>Extreme fight. 2011','videos/7.html','img/video/mixWrestThumb/video-7.jpg','video-7')
  div(class='col-2.4')
    +card('VIDEO 10<br>Mixed Wrestling<br>Best Fights. Part 1. 2011','videos/10.html','img/video/mixWrestThumb/video-10.jpg','video-10')
  div(class='col-2.4')
    +card('VIDEO 11<br>Alex  vs  Elena<br>Beach Wrestling. 2011','videos/11.html','img/video/mixWrestThumb/2011-alex-elena.jpg','video-11')
.row.card-row
  div(class='col-2.4')
    +card('VIDEO 14<br>Two men against one<br>woman. Part 1. 2011','videos/14.html','img/video/mixWrestThumb/video-14.jpg','video-14')
  div(class='col-2.4')
    +card('VIDEO 15<br>Two men against one<br>woman. Part 2. 2011','videos/15.html','img/video/mixWrestThumb/video-15.jpg','video-15')
  div(class='col-2.4')
    +card('VIDEO 22<br>Irina and Elena vs Villian<br>Mixed Wrestling. 2011','videos/22.html','img/video/mixWrestThumb/video-22.jpg','video-22')
  div(class='col-2.4')
    +card('VIDEO 25<br>Mixed Wrestling<br>Best Fights. Part 2. 2011','videos/25.html','img/video/mixWrestThumb/video-25.jpg','video-25')
  div(class='col-2.4')
    +card('VIDEO 28<br>Mixed Wrestling<br>Best Fights. Part 3. 2011','videos/28.html','img/video/mixWrestThumb/video-28.jpg','video-28')
.row.card-row
  div(class='col-2.4')
    +card('VIDEO 30<br>Mixed Wrestling<br>Best Fights. Part 4. 2013','videos/30.html','img/video/mixWrestThumb/video-30.jpg','video-30')
  div(class='col-2.4')
    +card('VIDEO 31-1<br>Mixed Wrestling<br>Best Fights. Part 5.1. 2013','videos/31-1.html','img/video/mixWrestThumb/video-31-1.jpg','video-31-1')
  div(class='col-2.4')
    +card('VIDEO 31-2<br>Mixed Wrestling<br>Best Fights. Part 5.2. 2013','videos/31-2.html','img/video/mixWrestThumb/video-31-2.jpg','video-31-2')
  div(class='col-2.4')
    +card('VIDEO 32<br>Mixed Wrestling<br>Artem vs Tais. 2013','videos/32.html','img/video/mixWrestThumb/video-32.jpg','video-32')
  div(class='col-2.4')
    +card('VIDEO 34<br>Alexander and Villian  vs<br>Tais.  Mixed Wrestling. 2013','videos/34.html','img/video/mixWrestThumb/video-34.jpg','video-34')
.row.card-row
  div(class='col-2.4')
    +card('VIDEO 38<br>Mixed Wrestling<br>Alexander vs Tais. 2014','videos/38.html','img/video/mixWrestThumb/video-38.jpg','video-38')
  div(class='col-2.4')
    +card('VIDEO 39<br>Mixed Wrestling<br>Villian vs Tais. Part 1. 2014','videos/39.html','img/video/mixWrestThumb/video-39.jpg','video-39')
  div(class='col-2.4')
    +card('VIDEO 40<br>Mixed Wrestling<br>Villian vs Tais. Part 2. 2014','videos/40.html','img/video/mixWrestThumb/video-40.jpg','video-40')