include card.pug
.row.card-row
  div(class='col-2.4')
    +card('ВИДЕО 44<br>Силовые соревнования на<br>Масленицу 2016. Борьба','#','img/video/wrestThumb/2016-power competition on Shrove Tuesday.jpg','video-44')
  div(class='col-2.4')
    +card('ВИДЕО 42<br>Cабмишн грэпплинг.<br>Турнир. Часть 2. 2014','#','img/video/wrestThumb/video-33.jpg','video-33')
  div(class='col-2.4')
    +card('ВИДЕО 41<br>Cабмишн грэпплинг.<br>Турнир. Часть 1. 2014','#','img/video/wrestThumb/video-41.jpg','video-41')
  div(class='col-2.4')
    +card('ВИДЕО 37<br>Турнир для начинающих<br>Финальные поединки.  2014','#','img/video/wrestThumb/video-37.jpg','video-37')
  div(class='col-2.4')
    +card('ВИДЕО 36<br>Турнир для начинающих<br>Предварительные бои. 2014','videos/36.html','img/video/wrestThumb/video-36.jpg','video-36')
.row.card-row
  div(class='col-2.4')
    +card('ВИДЕО 35<br>Лидия Ослоповских против<br>Таис. Пин матчи. 2013','#','img/video/wrestThumb/video-35.jpg','video-35')
  div(class='col-2.4')
    +card('ВИДЕО 33<br>Силовые соревнования<br>Грэпплинг.  2013','#','img/video/wrestThumb/video-33.jpg','video-33')
  div(class='col-2.4')
    +card('ВИДЕО 29<br>Елена Васильева vs. Таис<br>Сабмишн грэпплинг. 2013','#','img/video/wrestThumb/video-29.jpg','video-29')
  div(class='col-2.4')
    +card('ВИДЕО 27<br>Борьба на пляже<br>Часть 2.  Июнь 2011','#','img/video/wrestThumb/video-27.jpg','video-27')
  div(class='col-2.4')
    +card('ВИДЕО 26<br>Борьба на пляже<br>Часть 1.Июнь 2011','#','img/video/wrestThumb/video-26.jpg','video-26')
.row.card-row
  div(class='col-2.4')
    +card('ВИДЕО 24<br>Людмила vs. Таис<br>Сабмишн грэпплинг. 2011','#','img/video/wrestThumb/video-24.jpg','video-24')
  div(class='col-2.4')
    +card('ВИДЕО 23<br>Ирина (Власта) vs. Таис<br>Сабмишн грэпплинг.  2011','#','img/video/wrestThumb/video-23.jpg','video-23')
  div(class='col-2.4')
    +card('ВИДЕО 19<br>Варвара Акулова vs. Таис<br>Сабмишн грэпплинг.  2012','#','img/video/wrestThumb/video-19.jpg','video-19')
  div(class='col-2.4')
    +card('ВИДЕО 16<br>Елена Васильева vs. Таис<br>Сабмишн грэпплинг.  2011','#','img/video/wrestThumb/video-16.jpg','video-16')
  div(class='col-2.4')
    +card('ВИДЕО 12<br>Сабмишн грэпплинг. Турнир<br>Апрель 2010','#','img/video/wrestThumb/video-12.jpg','video-12')
.row.card-row
  div(class='col-2.4')
    +card('ВИДЕО 8<br>Женский пляжный турнир<br>Сабмишн грэпплинг. 2011','#','img/video/wrestThumb/video-8.jpg','video-8')
  div(class='col-2.4')
    +card('ВИДЕО 6<br>Мария Рылёва vs. Таис<br>Армрестлинг и борьба. 2011','#','img/video/wrestThumb/video-6.jpg','video-6')
  div(class='col-2.4')
    +card('ВИДЕО 4<br>Сабмишн грэпплинг. Турнир<br>Рождественский Кубок 2011','#','img/video/wrestThumb/video-4.jpg','video-4')
  div(class='col-2.4')
    +card('ВИДЕО 3<br>Пляжная борьба<br>Смешанный турнир.  2010','#','img/video/wrestThumb/video-3-ww.jpg','video-3-ww')
  div(class='col-2.4')
    +card('ВИДЕО 2<br>Сабмишн грэпплинг. Турнир<br>Часть 2. Июнь 2010','#','img/video/wrestThumb/video-2.jpg','video-2')
.row.card-row
  div(class='col-2.4')
    +card('ВИДЕО 1<br>Сабмишн грэпплинг. Турнир<br>Часть 1. Июнь 2010','#','img/video/wrestThumb/video-1.jpg','video-1')
  
