include card.pug
.row.card-row
  div(class='col-2.4')
    +card("Women's Power Event<br> Tournament. October 2013",'2013-2014/tournament-2013Eng.html','../img/competitions/thumb/tournament-2013.jpg','tournament-2013')
  div(class='col-2.4')
    +card('Wrestling tournament for<br>beginners. May, 2014','2013-2014/tournament-2014Eng.html','../img/competitions/thumb/tournament-2014.jpg','tournament-2014')
  div(class='col-2.4')
    +card('Tournament for the prize of the<br>Namazon Club. October, 2014','2013-2014/grappling-2014Eng.html','../img/competitions/thumb/grappling-2014.jpg','grappling-2014')