include card.pug
.row.card-row
  .col
    +card("MARIA RYLYOVA<br>5'8'' / 130 lb",'mariya-ryljovaEng.html','../img/girls/maria.jpg','maria')
  .col
    +card("TAIS<br>5'7'' / 130 lb",'tais2011Eng.html','../img/girls/tais2010-2011.jpg','tais2010-2011')
  .col
    +card("IRINA<br>5'9'' / 154 lb",'irinaEng.html','../img/girls/irina.jpg','irina')
  .col
    +card("VALENTINA PERFILYEVA<br>5'8'' / 132 lb",'valentina-perfilevaEng.html','../img/girls/valentina.jpg','valentina')
.row.card-row
  .col
    +card("IRINA (VLASTA)<br>5'9'' / 154 lb ",'irina-vlastaEng.html','../img/girls/vlasta.jpg','vlasta')
  .col
    +card("NADEZHDA AKHMEROVA<br>5'6'' / 132 lb",'nadezhda-akhmerovaEng.html','../img/girls/nadezhda.jpg','nadezhda')
  .col
    +card("ELENA VASILYEVA<br>5'6'' / 135 lb",'elena-vasilevaEng.html','../img/girls/elena2010-2011.jpg','elena2010-2011')
  .col
    +card("NATALIA MYSIK<br>5'11'' / 154 lb",'natalia-mysikEng.html','../img/girls/natalia.jpg','natalia')
.row.card-row
  .col
    +card("KSENIA VOLOSHINA<br>5'3'' / 141 lb",'kseniya-voloshinaEng.html','../img/girls/ksenia.jpg','ksenia')