include card.pug
.row.card-row
  div(class='col-2.4')
    +card('Izida vs Tais<br>Wrestling. 2008','Archive/IzidaVsTais2008Eng.html','../img/competitions/thumb/2008-izida-tais.jpg','Izida vs. Tais')
  div(class='col-2.4')
    +card('Izida vs Irina<br>Wrestling. 2008','Archive/IzidaVsIrina2008Eng.html','../img/competitions/thumb/2008-izida-irina.jpg','Izida vs. Irina')
  div(class='col-2.4')
    +card('Irina vs Tais<br>Beach wrestling. 2009','Archive/IrinaVsTais2008Eng.html','../img/competitions/thumb/2009-irina-tais.jpg','Irina vs. Tais')
  div(class='col-2.4')
    +card('Mixed beach<br>tournament. 2010','Archive/beach-mix-2010Eng.html','../img/competitions/thumb/2010-natalia-alex.jpg','Natalia vs. Alex')