include card.pug
.row.card-row
  div(class='col-2.4')
    +card('VIDEO 9<br>MMA tournament<br>“Christmas Cup 2012”','videos/9.html','img/video/mmaThumb/video-9.jpg','video-9')
  div(class='col-2.4')
    +card('VIDEO 17<br>MMA and Submission<br>Grappling. February, 2012','videos/17.html','img/video/mmaThumb/video-17.jpg','video-17')
  div(class='col-2.4')
    +card('VIDEO 18<br>MMA. Kara Teller vs Darya<br>Balina and Tais.  May, 2012','videos/18.html','img/video/mmaThumb/video-18.jpg','video-18')
  div(class='col-2.4')
    +card('VIDEO 20<br>MMA. Yulia Fedutenko vs<br>Kara Teller.   July, 2012','videos/20.html',"img/video/mmaThumb/video-20.jpg",'video-20')
  div(class='col-2.4')
    +card('VIDEO 21<br>MMA. Darya Balina vs<br>Olga. July, 2012','videos/21.html','img/video/mmaThumb/video-21.jpg','video-21')