include card.pug
.row.card-row
  div(class='col-2.4')
    +card('Изида vs. Таис.<br>Борьба. 2008','#','../img/competitions/thumb/2008-izida-tais.jpg','Izida vs. Tais')
  div(class='col-2.4')
    +card('Изида vs. Ирина.<br>Борьба. 2008','#','../img/competitions/thumb/2008-izida-irina.jpg','Izida vs. Irina')
  div(class='col-2.4')
    +card('Ирина vs. Таис.<br>Пляжная борьба. 2009','#','../img/competitions/thumb/2009-irina-tais.jpg','Irina vs. Tais')
  div(class='col-2.4')
    +card('Смешанный пляжный<br>турнир. 2010','#','../img/competitions/thumb/2010-natalia-alex.jpg','Natalia vs. Alex')