include card.pug
.row.card-row
  .col
    +card('Tais. 2013','tais2013Eng.html','../img/girls/tais2012-2013.jpg','tais2012-2013')
  .col
    +card('Kara Teller. 2012','kara-tellerEng.html','../img/girls/kara-teller.jpg','kara-teller')
  .col
    +card('Elena Vasilyeva. 2013','elena-vasileva2013Eng.html','../img/girls/elena2012-2013.jpg','elena2012-2013')
  .col
    +card('Darya Balina. 2012','darya-balinaEng.html','../img/girls/darya-balina.jpg','darya-balina')