include card.pug
.row.card-row
  .col
    +card('Мария Рылёва<br>172 см / 59 кг ','#','../img/girls/maria.jpg','maria')
  .col
    +card('Таис<br>170 см / 59 кг','#','../img/girls/tais2010-2011.jpg','tais2010-2011')
  .col
    +card('Ирина<br>176 см / 70 кг ','#','../img/girls/irina.jpg','irina')
  .col
    +card('Валентина Перфильева<br>172 см / 60 кг','#','../img/girls/valentina.jpg','valentina')
.row.card-row
  .col
    +card('Ирина (Власта)<br>176 см / 70 кг','#','../img/girls/vlasta.jpg','vlasta')
  .col
    +card('Надежда Ахмерова<br>167 см / 60 кг','#','../img/girls/nadezhda.jpg','nadezhda')
  .col
    +card('Елена Васильева<br>168 см / 61 кг','#','../img/girls/elena2010-2011.jpg','elena2010-2011')
  .col
    +card('Наталья Мысик<br>180 см / 70 кг','#','../img/girls/natalia.jpg','natalia')
.row.card-row
  .col
    +card('Ксения Волошина<br>160 см / 64 кг','#','../img/girls/ksenia.jpg','ksenia')