include card.pug
.row.card-row
  div(class='col-2.4')
    +card('Рождественский кубок.<br>ММА. 2012','2012/christmas-2012.html','../img/competitions/thumb/Elena_Vasilyeva_vs_Kara_Teller.jpg','Elena Vasilyeva vs. Kara Teller')
  div(class='col-2.4')
    +card('Кара против Светланы<br> и Таис. 2012','2012/mma-2012.html','../img/competitions/thumb/Kara_Teller_vs_Svetlana_Solovyova.jpg','Kara Teller vs. Svetlana Solovyova')
  div(class='col-2.4')
    +card('Спортивный праздник. ММА.<br>8 май 2012 года','2012/sportHoliday-2012.html','../img/competitions/thumb/KaraTellervsDariaBalina.jpg','Kara Teller vs. Daria Balina')
  div(class='col-2.4')
    +card('Варвара Акулоа vs. Таис.<br>Борьба. 2012','2012/varvara-tais-2012.html','../img/competitions/thumb/VarvaravsTais.jpg','Varvara vs. Tais')
  div(class='col-2.4')
    +card('Первая Невская Арена<br> ММА турнир. 2012',
      '2012/nevskaya-arena-2012.html',
      '../img/competitions/thumb/video-20.jpg',
      'Yulia Fedutenko vs. Kara Teller')