include card.pug
.row.card-row
  div(class='col-2.4')
    +card('ВИДЕО 9<br>ММА турнир<br>Рождественский Кубок 2012','videos/9.html','img/video/mmaThumb/video-9.jpg','video-9')
  div(class='col-2.4')
    +card('ВИДЕО 17<br>ММА и сабмишн грэпплинг.<br>Февраль 2012','videos/17.html','img/video/mmaThumb/video-17.jpg','video-17')
  div(class='col-2.4')
    +card('ВИДЕО 18<br>ММА Кара Теллер vs Дарья<br>Балиной и Таис. 2012','videos/18.html','img/video/mmaThumb/video-18.jpg','video-18')
  div(class='col-2.4')
    +card('ВИДЕО 20<br>ММА. Юлия Федутенко vs.<br>Кары Теллер. Июль 2012','videos/20.html',"img/video/mmaThumb/video-20.jpg",'video-20')
  div(class='col-2.4')
    +card('ВИДЕО 21<br>ММА. Дарья Балина vs.<br>Ольги. Июль 2012','videos/21.html','img/video/mmaThumb/video-21.jpg','video-21')