include card.pug
.row.card-row
  div(class='col-2.4')
    +card('Christmas Cup 2012<br>MMA fights','2012/christmas-2012Eng.html','../img/competitions/thumb/Elena_Vasilyeva_vs_Kara_Teller.jpg','Elena Vasilyeva vs. Kara Teller')
  div(class='col-2.4')
    +card('ММА. Kara Teller vs<br>Svetlana Solovyova. 2012','2012/mma-2012Eng.html','../img/competitions/thumb/Kara_Teller_vs_Svetlana_Solovyova.jpg','Kara Teller vs. Svetlana Solovyova')
  div(class='col-2.4')
    +card('MMA fights in the May<br>holidays. 2012','2012/sportHoliday-2012Eng.html','../img/competitions/thumb/KaraTellervsDariaBalina.jpg','Kara Teller vs. Daria Balina')
  div(class='col-2.4')
    +card('Varvara Akulova vs Tais.<br>Submission grappling. 2012','2012/varvara-tais-2012Eng.html','../img/competitions/thumb/VarvaravsTais.jpg','Varvara vs. Tais')
  div(class='col-2.4')
    +card('The first Nevsky Arena. MMA<br> tournament. 2012',
      '2012/nevskaya-arena-2012Eng.html',
      '../img/competitions/thumb/video-20.jpg',
      'Yulia Fedutenko vs. Kara Teller')