include ../../includes/head.pug
include ../../includes/header.pug
include ../../includes/slider.pug
include ../../includes/footer.pug

doctype html
html(lang='ru')
  +head('../../','Женские силовые единоборства. Турнир. Октябрь 2013 ')
  link(rel="stylesheet", href="../../css/ekko-lightbox.css")
  body
    +header("../../")
    main
      +slider('../../')
      .container.videos
        .row.mx-auto
          .col
            h3 Результаты прошедших соревнований
            h4 Женские силовые единоборства. Турнир. Октябрь 2013
            ul
              li стр. 1
              li
                a(href="tournament-2013_2.html") <u>стр. 2</u>
              li
                a(href="tournament-2013_3.html") <u>стр. 3</u>
            img.mainImg(src='../../img/competitions/2013-2014/silovye-edinoborstva-2013/yaroslava-masha/8.jpg' alt='main')
            p.
              Турнир по женским силовым единоборствам был организован совместно клубом женских единоборств «Намазон» и 
              Санкт-Петербургский Атлетическим Центром. Полное название соревнования  –  
              <b>Турнир по женским единоборствам на призы СПб Атлетического Центра и клуба "Намазон"</b>. 
              Цель соревнования - развитие <b>нетрадиционных силовых единоборств</b> среди женщин.
            p Фактически турнир представлял собой кроссфит, состоящий из следующих соревновательных видов:
            ul
              li.
                Перетягивание каната (победа оценивается в 2 балла);
              li.
                Армрестлинг лёжа  i) на левой и правой руках (победа на каждой руке оценивается в 1 балл);
              li.
                Легрестлинг ii) – борьба ногами (победа в каждой из 2-х позициях оценивается в 1 балл); 
              li.
                "Сумо" iii) по упрощённым правилам (победа оценивается в 2 балла).
            p.
              Схема соревнований строилась исходя из неопределенности до последнего момента состава участниц. Предполагалось,
              что с учётом спортивного уровня и веса участницы будут разбиты на пары после регистрации.<br>
              В результате (2 октября 2013 года) образовались следующие пары, которым предстояло пройти 3 отборочных тура
              для определения сильнейшей в любительской номинации.
            h5 <u>Лиза Серговская против Лиды Ослоповских</u>
            p.
              <b>Лиза Серговская</b> — занимается чуть больше года армрестлингом, в прошлом — скалолазанием; Лизе 18 лет, 
              она студентка. Летом 2013 г. участвовала в фотосессии Спб Атлетического Центра. Вес 57 кг.<br>
              <b>Лида Ослоповских</b> — спортом не занимается, посещает тренажерный зал; успешно дебютировала в соревнованиях 
              по силовому многоборью; особенно сильна в отжиманиях (способна 20 раз отжаться на брусьях). Лиде 27 лет, 
              ее вес 53 кг.
            h5 <u>Чупахина Дарина против Вика Вардугиной</u>
            p.
              <b>Чупахина Дарина</b> — про неё известно только то, что она инструктор тренажерного зала. Дарине 
              20 лет.<br>
              <b>Вика Вардугина</b> — летом 2013 г. впервые пробовала свои силы на студенческом турнире по армспорту, заняла
              1 место в своей категории; посещает тренажерный зал. Вика приехала из Казахстана, она студентка, ей 18 лет.
            h5 <u>Маша Барсукова против Ярославы Шуваловой</u> 
            p.
              <b>Маша Барсукова</b> занимается в тренажерном зале, участница любительских силовых турниров; ее лучшие 
              результаты — статика бедра у стены - 4 мин. Маше 26 лет, вес 56 кг.<br>
              <b>Ярослава Шувалова</b> — фотограф, от спорта и занятий на тренажерах далека. Но попробовав себя в 
              любительском силовом многоборье неожиданно показала высокие результаты — присела 60 раза со штангой 25 кг. 
              Ярославе 45 лет, ее вес 56 кг.
            hr
            p.
              i) Чтобы свести к минимуму возможное техническое превосходство соперницы, имеющей опыт борьбы за армстолом, 
              проводится армрестлинг лёжа, где технические навыки и преимущества сведены к минимуму, а решающее значение 
              имеет физическая сила.
            p.
              ii) Ставится задача сдавить колени соперницы, другая сопротивляется; затем они меняются местами.
            p.
              iii) Единоборство также носит название «борьба Mercy». Задача - вытолкнуть соперницу за пределы ковра либо 
              добиться касания соперницей пола любой частью тела (касание коленом разрешается).
            ul
              li Назад
              li <a href="tournament-2013_2.html"><u>Вперёд >></u></a>
    +footer("../../")