include ../../includes/head.pug
include ../../includes/headerEng.pug
include ../../includes/sliderEng.pug
include ../../includes/footerEng.pug

doctype html
html(lang='en')
  +head('../../','Wrestling tournament for beginners. Women only. May, 2014 ')
  link(rel="stylesheet", href="../../css/ekko-lightbox.css")
  body
    +header("../../")
    main
      +slider('../../')
      .container.videos
        .row.mx-auto
          .col
            h3 2013 - 2014
            h4 Wrestling tournament for beginners. Women only. May, 2014 
            p.
              As practice shows, every girl in some ways possesses fighting skills and instincts of self-defence, and is even capable of participating in special athletic competitions. It just takes you to believe in yourself and to not be afraid of your opponents.<br>
              Our tournament was conducted under submission grappling rules enhanced by an additional rule allowing the girls to defeat an opponent by pinning and holding her down on her back till a count of 10.
            img.mainImg(src='../../img/videos/36/3.jpg' alt='main')
            p.
              In the tournament participated five girls (light weight class): <b>Christina Shvets</b> (67.4 kg / 148.5 lb),  <b>Daria Uvarova</b> (66.5 kg / 146.6 lb),  <b>Irina Dzhanaeva</b> (70.7 kg / 155.9 lb), <b>Nina Trofimova</b> (61.1 kg / 134.7 lb) and  <b>Victoria Vardugina</b>  (70.7 kg / 155.9 lb).<br>
              For all the girls, except for Victoria, this was the first experience in this type of competitions. Victoria, unlike them, had before then won <a href="tournament-2013Eng.html">a female single combat tournament in October 2013</a> by submitting a young ambitious wrestler Lidiya Oslopovskih in the final submission grappling match.<br>
              Vika is a strong girl, in terms of physical strength. Apart from everything else, she competes with success in college arm wrestling events.
            p.
              All girls fought with each other till two wins. And each round of each match was limited to four minutes.
            h5 <u>Preliminary fights</u>
            p.
              There were three fights in the preliminary part of the tournament. In the first one, <b>Victoria Vardugina</b> fought against <b>Nina Trofimova</b> and defeated her twice, finishing the 1st round with a hold down and the 2nd with a choke.
            a.btn.btn-primary.screensBtn(data-toggle='collapse' href='#collapseExample' role='button' aria-expanded='false' aria-controls='collapseExample')
              | See photos
            #collapseExample.collapse
              .col-md-12.text-center
                  .row.justify-content-center
                    - var n = 0;
                    while n < 3
                      - n = n+1
                      a.col-sm-4(href='../../img/videos/36/'+n+'.jpg' data-toggle='lightbox' data-gallery='example-gallery')
                        img.img-fluid(src='../../img/videos/36/'+n+'.jpg')
            p.
              The second fight was between <b>Daria Uvarova</b> and <b>Irina Dzhanaeva</b>. Daria won two rounds one after another (the 1st one by applying an arm lock, the 2nd - by hold down).
            a.btn.btn-primary.screensBtn(data-toggle='collapse' href='#collapseExample2' role='button' aria-expanded='false' aria-controls='collapseExample2')
              | See photos
            #collapseExample2.collapse
              .col-md-12.text-center
                  .row.justify-content-center
                    - var n = 3;
                    while n < 16
                      - n = n+1
                      a.col-sm-4(href='../../img/videos/36/'+n+'.jpg' data-toggle='lightbox' data-gallery='example-gallery')
                        img.img-fluid(src='../../img/videos/36/'+n+'.jpg')
            p.
              The third fight was the most intense and exciting of all three, with <b>Christina Shvets</b> struggling hard against big and strong <b>Victoria Vardugina</b>. The winner was declared only after the end of the 3rd round. Christina won the first round with a choke, but in the next two rounds, to her disappointment, she was defeated (choked) by Victoria, though she struggled desperately up to the very last second.
            a.btn.btn-primary.screensBtn(data-toggle='collapse' href='#collapseExample3' role='button' aria-expanded='false' aria-controls='collapseExample3')
              | See photos
            #collapseExample3.collapse
              .col-md-12.text-center
                  .row.justify-content-center
                    - var n = 16;
                    while n < 28
                      - n = n+1
                      a.col-sm-4(href='../../img/videos/36/'+n+'.jpg' data-toggle='lightbox' data-gallery='example-gallery')
                        img.img-fluid(src='../../img/videos/36/'+n+'.jpg')
            h5 <u>Final fights</u>
            p.
              According the results of the preliminary fights, the 3rd place went to <b>Christina Shvets</b>. Then <b>Nina Trofimova</b> and <b>Irina Dzhanaeva</b> competed with each other for the 4th place. After a short struggle Nina gained a victory by submitting her opponent twice (by means of an armbar in the 1st round and by securing a choke hold in the 2nd).
            a.btn.btn-primary.screensBtn(data-toggle='collapse' href='#collapseExample4' role='button' aria-expanded='false' aria-controls='collapseExample4')
              | See photos
            #collapseExample4.collapse
              .col-md-12.text-center
                  .row.justify-content-center
                    - var n = 0;
                    while n < 4
                      - n = n+1
                      a.col-sm-4(href='../../img/videos/37/1/'+n+'.jpg' data-toggle='lightbox' data-gallery='example-gallery')
                        img.img-fluid(src='../../img/videos/37/1/'+n+'.jpg')
            p.
              The final fight was an interesting encounter between <b>Daria Uvarova</b> and <b>Victoria Vardugina</b>. The wrestlers were almost evenly matched. The first round of their match did not determine a winner, though Victoria had some small advantage over her young beautiful opponent. In the second round, Victoria was at long last able to secure a victory with a nice pinning hold which Daria could not escape in spite of all her efforts.
            a.btn.btn-primary.screensBtn(data-toggle='collapse' href='#collapseExample5' role='button' aria-expanded='false' aria-controls='collapseExample5')
              | See photos
            #collapseExample5.collapse
              .col-md-12.text-center
                  .row.justify-content-center
                    - var n = 4;
                    while n < 23
                      - n = n+1
                      a.col-sm-4(href='../../img/videos/37/2/'+n+'.jpg' data-toggle='lightbox' data-gallery='example-gallery')
                        img.img-fluid(src='../../img/videos/37/2/'+n+'.jpg')
            p.
              <b>Victoria Vardugina</b>,  <b>Daria Uvarova</b>  and  <b>Christina Shvets</b>  eventually won the 1st, 2nd and 3rd places respectively.
            img(src="../../img/competitions/2013-2014/tournament-2014/DSC03831.JPG", alt="")
            p.
              From left to right: Victoria, Daria, Christina
            hr
            p.
              The VIDEO 36 of our video collection contains the preliminary fights of the tournament, and the VIDEO 37 features the final fights. Both videos are available for purchasing in our on-line store on  <a href="https://gumroad.com/namazonclub">Gumroad</a>. 
    +footer("../../")