include ../includes/head.pug
include ../includes/header.pug
include ../includes/slider.pug
include ../includes/footer.pug

doctype html
html(lang='ru')
  +head('../','Смешанная борьба')
  body
    +header("../")
    main
      +slider('../')
      .container.mainCards
        .row
          .col
            h3 Смешанная борьба (mixed wrestling, mixwrestling) 
        .row
          .col-xl-2
            img(src='../img/main/mw.jpg' alt='')
          .col-xl-10
            p.
              В нашем клубе занимаются как девушки, так и молодые люди. Многие технические действия девушкам удобнее отрабатывать на мужчинах
              (спасибо им за это!). Практикуется у нас и спортивная смешанная борьба. В этом случае основное внимание уделяется на то, 
              чтобы участники поединка были примерно одного веса и приблизительно равны по силам.
            p.
              В ряде случаев смешанные поединки проходят весьма энергично и отличаются достаточно высоким техническим уровнем. 
              В отличии от традиционных поединков в стиле <b>MIXWRESTLING</b>, результат наших спортивных смешанных поединков (COMPETITIVE MIXED WRESTLING),
              как и должно быть в случае спортивных схваток, заранее неизвестен.
        
    +footer("../")
