include ../includes/head.pug
include ../includes/headerEng.pug
include ../includes/sliderEng.pug
include ../includes/footerEng.pug

doctype html
html(lang='en')
  +head('../','Mixed Wrestling (Mixwrestling) ')
  body
    +header("../")
    main
      +slider('../')
      .container.mainCards
        .row
          .col
            h3 Mixed Wrestling (Mixwrestling) 
        .row
          .col-xl-2
            img(src='../img/main/mw.jpg' alt='')
          .col-xl-10
            p.
              Our fighting club is attended by both girls and young men. For the girls it’s more comfortable to practice many of wrestling techniques on male partners (we are grateful to the men for their assistance!).
              Sporting mixed wrestling is also practiced with us. In this case, the competitors for the fights are selected based on their weight categories and physical strength. 
            p.
              Some of our mixed matches are fought very hard and characterized by a high technical level. In contrast to traditional battles in the style of MIXWRESTLING, the results of our sporting mixed fights (COMPETITIVE MIXED WRESTLING) are never known in advance, as it should be in the case of sport fighting competitions. 
        
    +footer("../")
