include ../includes/head.pug
include ../includes/header.pug
include ../includes/slider.pug
include ../includes/footer.pug

doctype html
html(lang='en')
  +head('../','Сабмишн грэпплинг')
  body
    +header("../")
    main
      +slider('../')
      .container.mainCards
        .row
          .col
            h3 Сабмишн грэпплинг (борьба до капитуляции)
        .row
          .col-xl-2
            img(src='../img/main/sg.jpg' alt='')
          .col-xl-10
            p.
              В <b>Сабмишн Грэпплинге</b> (Submission Grappling, Submission Wrestling) нет ударов, по количеству разрешенных приёмов эту борьбу
              можно назвать универсальной т.к. в ней используется арсенал технических действий всех существующих видов борьбы, хотя можно 
              выделить и основные это вольная (в стойке) и самбо, дзюдо, бразильское джиу-джитсу (в партере).
            p.
              В настоящее время Submission Wrestling является самой популярной и быстроразвивающейся борьбой во всём мире (кроме России), 
              а турнир среди профессионалов ADCC самым высокооплачиваемым. <b>ISWA</b> - International Submission Wrestling Association.
        .row
          .col
            h5 <b>ПРАВИЛА</b>
            p.
              Приведём основные положения правил, используемые в соревнованиях клуба <b>"Намазон"</b>. За основу наших правил взяты правила <b>ADCC</b> 
              (Abu Dhabi Combat Club) <b>Submission Wrestling World Championship</b>.
            h5 <b>I. Регламентированное время поединка</b>
            p.
              Каждый матч состоит из двух раундов. Перерыв между раундами - 30 сек. Продолжительность раунда – 4 минуты.
              Если в основное время матча (два 4-минутных раунда) победитель не выявлен, борьба продолжается ещё две минуты или до первого 
              результативного действия (так называемой «внезапной смерти»). 
            h5 <b>II. Присуждение очков</b>
            p Очки присуждаются в следующих случаях: 
            ul
              li перевод соперника в партер (его колени, живот или спина касаются ковра в течение 1 секунды) – 1 очко;
              li маунт (атакующая позиция сверху) - за каждые полные 3 секунды – 1 очко (но не более 3-х очков за один маунт);
              li бэк маунт (удержание со спины с захватом крюком или с захватом в треугольник) - за каждые полные 3 секунды – 1 очко (но не более 3-х очков за один бэк маунт);
              li catch (перевод соперника в партер и в опасное положение одним приёмом) – 3 очка.
            h5 <b>III. Запреты и запрещённые приёмы</b>
            p Во время поединка запрещается:
            ul
              li проводить прямые атаки на трахею;
              li наносить удары;
              li производить тычки в глаза;
              li атаковать пальцами незащищенные места, например, уши, рот (оттягивать щёки пальцами), ноздри с намерением разорвать ткани;
              li кусать, щипать, царапать соперника;
              li захватывать и выкручивать менее 3-х пальцев рук и ног;
              li захватывать соперника за волосы или за одежду;
              li надавливать подбородком на лицо;
              li проводить атаки в область паха;
              li ударять соперника головой о ковёр.
            p Кожа и волосы должны быть без каких-либо маслянистых или жирных веществ.
            h5 <b>IV. Разрешённые приёмы</b>
            ul
              li заваливания, броски, подножки;
              li болевые приёмы на суставы;
              li удушающие захваты;
              li рычаги колена и крюки пятки.
            h5 <b>V. Предупреждения и дисквалификация</b>
            p Предупреждение объявляется за:
            ul
              li любое действие из пункта III;
              li умышленные выходы за пределы ковра;
              li уклонение от боя (например, от перевода борьбы в партер).
            p За три ПРЕДУПРЕЖДЕНИЯ следует ДИСКВАЛИФИКАЦИЯ.
            h5 <b>VI. Форма одежды</b>
            ul
              li участники должны быть без обуви;
              li всякие пояса, бандажи, наколенники, ножные браслеты можно использовать только с разрешения судей;
              li верхняя часть одежды участников должна быть двух видов: светлая и тёмная;
              li шорты и нательные майки – одобренные судейской коллегией.
            h5 <b>VII. Присуждения победы в матче</b>
            p Победа присуждается одному из соперников, если:
            ul
              li противник дважды похлопал ладонью по татами или по сопернику;
              li противник словесно признал своё поражение;
              li по мнению судьи, один из соперников не способен продолжать борьбу;
              li участник не может возобновить поединок сразу же после перерыва между раундами или после мощного броска или после попытки противника провести болевой приём (допускается задержка не более 15 секунд);
              li судья определил победителя по очкам.
            h5 <b>VIII. Взвешивание</b>
            ul
              li все участники должны проходить официальное взвешивание;
              li если во время процедуры официального взвешивания участник турнира не уложится в лимит договорного веса, он может попытаться это сделать в течение последующих двух часов;
              li если за отведённое время участник не успеет «сделать вес», то он должен заплатить штраф в размере 25% своего гонорара и транспортных расходов, понесённых спортивной организацией.
    +footer("../")
