include ../includes/head.pug
include ../includes/headerEng.pug
include ../includes/sliderEng.pug
include ../includes/footerEng.pug

doctype html
html(lang='ru')
  +head('../','VIDEO 15')
  link(rel="stylesheet", href="../css/ekko-lightbox.css")
  body
    +header("../")
    main
      +slider('../')
      .container.videos
        .row.mx-auto
          .col
            h3 VIDEO 15
            h4 Two men against one woman.  Mixed wrestling on a beach. Part 2. 2011
            p.
              In this video you can see what happened a few days later after the 1st part of the mixed beach tournament (<b>Video 14</b>).  <b>Alex</b> (5’9” / 154 lb) and <b>Villian</b> (5’8” / 177 lb) insisted on continuing to wrestle. <b>Tais</b> (5’7” / 130 lb) accepted the challenge of the two men and wrestled them a few more times.
            img.mainImg(src='../img/videos/15/main.jpg' alt='main')
            p.
              The action took place on the sandy beach and on the grass. It was a nice sunny day, which helped us make a colorful video. The video includes several fights, each of which ends with the submission of one fighter.
            p.
              If you like competitive mixed wrestling where a woman struggles hard against a man, then buy our film.
            a.btn.btn-primary.screensBtn(data-toggle='collapse' href='#collapseExample' role='button' aria-expanded='false' aria-controls='collapseExample')
              | SCREENSHOTS
            #collapseExample.collapse
              .col-md-12.text-center
                  .row.justify-content-center
                    - var n = 0;
                    while n < 22
                      - n = n+1
                      a.col-sm-4(href='../img/videos/15/'+n+'.jpg' data-toggle='lightbox' data-gallery='example-gallery')
                        img.img-fluid(src='../img/videos/15/'+n+'.jpg')
            hr
            p.
              You can buy <b>VIDEO 15</b> on <a href='https://gumroad.com/namazonclub'>Gumroad</a>.
    +footer("../")