include ../includes/head.pug
include ../includes/headerEng.pug
include ../includes/sliderEng.pug
include ../includes/footerEng.pug

doctype html
html(lang='en')
  +head('../','VIDEO 16')
  link(rel="stylesheet", href="../css/ekko-lightbox.css")
  body
    +header("../")
    main
      +slider('../')
      .container.videos
        .row.mx-auto
          .col
            h3 VIDEO 16
            h4 Elena Vasilyeva vs Tais. Submission Grappling. Youth vs Experience. June, 2011 
            p.
              <b>Elena Vasilyeva (Gladiatriks)</b>  (5'6" / 135 lb) - submission grappling, MMA, judo and arm wrestling. <b>Tais</b>  (5'7" / 130 lb) - submission grappling, MMA. To win in this competition, the girls needed not only physical strength and wrestling skill but also a lot of endurance.<br>
              The fight consisted of 9 rounds, where each one had no time limit and lasted until there was a clear winner. And between each round, the fighters had only 1 minute to rest.
            img.mainImg(src='../img/videos/16/main.jpg' alt='main')
            p.
              Each round was fought hard and aggressively, the girls giving all their strength to win the battle.
            p.
              Which one of the girls was more exhausted? And who was the winner in the end? You can know it if you purchase our film.
            a.btn.btn-primary.screensBtn(data-toggle='collapse' href='#collapseExample' role='button' aria-expanded='false' aria-controls='collapseExample')
              | SCREENSHOTS
            #collapseExample.collapse
              .col-md-12.text-center
                  .row.justify-content-center
                    - var n = 0;
                    while n < 33
                      - n = n+1
                      a.col-sm-4(href='../img/videos/16/'+n+'.jpg' data-toggle='lightbox' data-gallery='example-gallery')
                        img.img-fluid(src='../img/videos/16/'+n+'.jpg')
            hr
            p.
              You can buy <b>VIDEO 16</b> on <a href='https://gumroad.com/namazonclub'>Gumroad</a>.
    +footer("../")