include ../includes/head.pug
include ../includes/header.pug
include ../includes/slider.pug
include ../includes/footer.pug

doctype html
html(lang='ru')
  +head('../','Видео 32')
  link(rel="stylesheet", href="../css/ekko-lightbox.css")
  body
    +header("../")
    main
      +slider('../')
      .container.videos
        .row.mx-auto
          .col
            h3 Видео 32
            h4 Смешанная борьба. Артём против Таис. 2013 год
            p.
              Данный поединок имел место во время летних каникул <b>Таис</b> (170 см / 61 кг), которые она провела на юге Украины. Борьба проходила недалеко 
              от Днепра, в лесу. Соперником Таис был <b>Артём</b> (180 см / 80 кг), который уже имел некоторый опыт смешанных поединков, 
              включая несколько схваток с известной украинской бодибилдершей <b>Изидой</b> на начальной стадии её карьеры.
            img.mainImg(src='../img/videos/32/main.jpg' alt='main')
            p.
              Артем не очень сильный парень, но был достаточно амбициозен, чтобы бросить вызов Таис, желая показать ей и себе, что он тоже МОЖЕТ быть борцом!
              Хорошая солнечная погода и живописная природа только подчёркивали необычность происходящего - соревновательную борьбу между мужчиной и женщиной.
            p.
              Если вы любите смешанную борьбу (миксрестлинг), то посмотрите наш фильм  (<b>ВИДЕО 32</b>)!
            a.btn.btn-primary.screensBtn(data-toggle='collapse' href='#collapseExample' role='button' aria-expanded='false' aria-controls='collapseExample')
              | Скриншоты фильма
            #collapseExample.collapse
              .col-md-12.text-center
                  .row.justify-content-center
                    - var n = 0;
                    while n < 10
                      - n = n+1
                      a.col-sm-4(href='../img/videos/32/'+n+'.jpg' data-toggle='lightbox' data-gallery='example-gallery')
                        img.img-fluid(src='../img/videos/32/'+n+'.jpg')
            p.
              Нашего видео нет в свободном доступе. В данный момент <b>ВИДЕО 32</b> можно приобрести в ручном режиме, написав на почту 
              <a href='mailto:namazonclub@gmail.com'>namazonclub@gmail.com</a>
    +footer("../")