include ../includes/head.pug
include ../includes/header.pug
include ../includes/slider.pug
include ../includes/footer.pug

doctype html
html(lang='ru')
  +head('../','Видео 9')
  link(rel="stylesheet", href="../css/ekko-lightbox.css")
  body
    +header("../")
    main
      +slider('../')
      .container.videos
        .row.mx-auto
          .col
            h3 Видео 9
            h4 ММА турнир "Рождественский Кубок 2012"
            p.
              В ММА боях приняли участие  <b>Елена Васильева</b> (Санкт-Петербург) - 168 см / 60 кг,  <b>Кара Теллер</b> (Москва) - 169 см / 54 кг и <b>Таис</b> (Санкт-Петербург) - 170 см / 59 кг. Турнир прошёл в один круг. Каждый бой состоял из трёх раундов по 4 минуты, перерывы между раундами составили 1 минуту.
            p.
              ММА бой справедливо называют вершиной контактных единоборств. Его участники должны показать как борцовскую подготовку, так и "ударную" технику.
              Всеми этими качества обладали девушки, принявшие участие в нашем турнире. Они показали три жёстких, техничных ММА боя.
            p.
              Особенно драматично сложился поединок между Еленой Васильевой и нашей гостей из Москвы Карой Теллер.
            img.mainImg(src='../img/videos/9/main.jpg' alt='main')
            p Смотрите наш фильм (<b>ВИДЕО 9</b>), если Вам нравятся женские ММА бои.
            h5 Бой первый. Елена Васильева против Кары
            a.btn.btn-primary.screensBtn(data-toggle='collapse' href='#collapseExample' role='button' aria-expanded='false' aria-controls='collapseExample')
              | Скриншоты фильма
            #collapseExample.collapse
              .col-md-12.text-center
                  .row.justify-content-center
                    - var n = 0;
                    while n < 17
                      - n = n+1
                      a.col-sm-4(href='../img/videos/9/mma-rozhdestvenskij-kubok-2012-1/'+n+'.jpg' data-toggle='lightbox' data-gallery='example-gallery')
                        img.img-fluid(src='../img/videos/9/mma-rozhdestvenskij-kubok-2012-1/'+n+'.jpg')
            h5 Бой второй. Кара против Таис
            a.btn.btn-primary.screensBtn(data-toggle='collapse' href='#collapseExample2' role='button' aria-expanded='false' aria-controls='collapseExample')
              | Скриншоты фильма
            #collapseExample2.collapse
              .col-md-12.text-center
                  .row.justify-content-center
                    - var n = 0;
                    while n < 20
                      - n = n+1
                      a.col-sm-4(href='../img/videos/9/mma-rozhdestvenskij-kubok-2012-3/'+n+'.jpg' data-toggle='lightbox' data-gallery='example-gallery')
                        img.img-fluid(src='../img/videos/9/mma-rozhdestvenskij-kubok-2012-3/'+n+'.jpg')
            h5 Бой третий. Елена Васильева против Таис
            a.btn.btn-primary.screensBtn(data-toggle='collapse' href='#collapseExample3' role='button' aria-expanded='false' aria-controls='collapseExample')
              | Скриншоты фильма
            #collapseExample3.collapse
              .col-md-12.text-center
                  .row.justify-content-center
                    - var n = 0;
                    while n < 13
                      - n = n+1
                      a.col-sm-4(href='../img/videos/9/mma-rozhdestvenskij-kubok-2012-4/'+n+'.jpg' data-toggle='lightbox' data-gallery='example-gallery')
                        img.img-fluid(src='../img/videos/9/mma-rozhdestvenskij-kubok-2012-4/'+n+'.jpg')
            hr
            p.
              <b>ВИДЕО 9</b> можно приобрести в магазине <a href='https://gumroad.com/namazonclub'>Gumroad</a>.
    +footer("../")