include ../includes/head.pug
include ../includes/header.pug
include ../includes/slider.pug
include ../includes/footer.pug

doctype html
html(lang='ru')
  +head('../','Елена Васильева')
  link(rel="stylesheet", href="../css/ekko-lightbox.css")
  body
    +header("../")
    main
      +slider('../')
      .container.videos
        .row.mx-auto
          .col
            h3 Участницы соревнований 2012 - 2013 годов
            h4 Елена Васильева 
            img.mainImg(src='../img/girls/elena-vasileva2013/main.jpg' alt='main')
            p.
              <b>Елена Васильева</b> - одна из самых молодых участниц, когда-либо принимавших участие в турнирах и отдельных поединках, организованных клубом "Намазон". 
              Специализируется в сабмишн грэпплинге (борьбе до капитуляции) и ММА боях. В последнее время Лена отдаёт своё предпочтение армрестлингу, в котором достигла 
              серьёзных успехов на международном уровне.
            h4 <u>Елена Васильева в ММА</u>
            p.
              Самым запоминающимся из всех боёв Елены был её ММА поединок в рамках турнира "Рождественский Кубок 2012" с нашей гостьей из Москвы <a href="#">Карой Теллер</a> 
              (169 см / 55 кг).<br>
              Если не принимать во внимание многочисленные тренировочные ММА спарринги, бой с Карой был дебютом Елены Васильевой в ММА боях.
              Поединок состоял из 3-х раундов по 4 минуты с минутными перерывами между раундами. Первые два раунда протекали с явным преимуществом Лены, у неё были моменты, когда она могла закончить бой досрочно. Но Кара проявила упорство, умело защищалась, стойко переносила пропущенные удары.
            a.btn.btn-primary.screensBtn(data-toggle='collapse' href='#collapseExample' role='button' aria-expanded='false' aria-controls='collapseExample')
              | Смотреть фото
            #collapseExample.collapse
              .col-md-12.text-center
                  .row.justify-content-center
                    - var n = 0;
                    while n < 12
                      - n = n+1
                      a.col-sm-4(href='../img/girls/kara-teller/mma-rozhdestvenskij-kubok-2012-1/'+n+'.jpg' data-toggle='lightbox' data-gallery='example-gallery')
                        img.img-fluid(src='../img/girls/kara-teller/mma-rozhdestvenskij-kubok-2012-1/'+n+'.jpg')
            p.
              В третьем раунде стало заметно, что Лена устала. Она стала допускать ошибки, одна из которых оказалась фатальной.<br>
              После неудачного броска Лена оказалась на спине, Кара сверху в положении маунт. Пытаясь уйти от наносимых ей ударов, Лена повернулась спиной 
              к сопернице, чем Кара немедленно воспользовалась, проведя удушение.
            a.btn.btn-primary.screensBtn(data-toggle='collapse' href='#collapseExample2' role='button' aria-expanded='false' aria-controls='collapseExample2')
              | Смотреть фото
            #collapseExample2.collapse
              .col-md-12.text-center
                  .row.justify-content-center
                    - var n = 0;
                    while n < 8
                      - n = n+1
                      a.col-sm-4(href='../img/girls/kara-teller/mma-rozhdestvenskij-kubok-2012-2/'+n+'.jpg' data-toggle='lightbox' data-gallery='example-gallery')
                        img.img-fluid(src='../img/girls/kara-teller/mma-rozhdestvenskij-kubok-2012-2/'+n+'.jpg')
            h4 <u>Елена Васильева в борьбе по правилам Сабмишн Грэпплинг</u>
            p.
              В 2012 - 2013 годах Елена не принимала участие в борцовских турнирах. Однако в июне 2013 года она провела матч с <a href="#">Таис</a> - своей традиционной 
              соперницей по клубу "Намазон".<br>
              Перед этим девушки боролись последний раз около 2-х лет назад и существенное преимущество всегда было на стороне более опытной Таис.<br>
              За прошедшее время Лена физически окрепла, заметно подкачалась, набрала вес (на момент поединка её вес превосходил вес Таис на 10 кг). 
              И в первом же раунде Таис дрогнула и сдалась более молодой сопернице. Лене удалось провести удушение из положения бэк маунт.<br>
              Особенно запомнилась победа Лены в третьем раунде, который длился примерно 30 секунд. Исход схватки решили эффективные ножницы на шею соперницы.
            img.mainImg(src='../img/girls/tais2013/2013-sg-elena-vasilyeva-tais.jpg' alt='main')
            p.
              Весь матч длился около 20 минут и к его концу борьба выровнялась. Но … победа Елены Васильевой была уже предрешена. 
              Общий счёт 4 - 2 в пользу Лены при одной ничьей.<br>
              Теперь многие ждут рематча <b>Елена Васильева против Таис</b>, который должен показать насколько закономерна была победа Лены и поражение Таис. 
              Но в любом случае новая "звезда" в сабмишн грэпплинге уже взошла.
            h4 <u>ММА. Статистика результатов за 2012 год</u>
            p число побед  / число поражений / число ничьих - 0 - 2 - 0 (на январь 2012 года)
            <hr>
            p.
              Видео ММА боя Лены (Video 9), её борьбу по правилам сабмишн грэпплинга (Video 29) в 2012 - 2013 годах можно приобрести в нашем магазине на
              <a href="https://gumroad.com/namazonclub">Gumroad</a>.

    +footer("../")