include ../includes/head.pug
include ../includes/headerEng.pug
include ../includes/sliderEng.pug
include ../includes/footerEng.pug

doctype html
html(lang='ru')
  +head('../','Elena Vasilyeva')
  link(rel="stylesheet", href="../css/ekko-lightbox.css")
  body
    +header("../")
    main
      +slider('../')
      .container.videos
        .row.mx-auto
          .col
            h3 Participants of competitions 2010 - 2011
            h4 ELENA VASILYEVA
            img.mainImgSmall(src='../img/girls/elena-vasileva/elena.jpg' alt='main')
            p.
              <b>Elena Vasilyeva</b> ( 5'6" / 135 lb ) - new young club star.<br>
              Specialization - SUBMISSION GRAPPLING, MMA, JUDO and ARM WRESTLING (candidate for the master of sports).
            a.btn.btn-primary.screensBtn(data-toggle='collapse' href='#collapseExample' role='button' aria-expanded='false' aria-controls='collapseExample')
              | SUBMISSION GRAPPLING
            #collapseExample.collapse
              .col-md-12.text-center
                  .row.justify-content-center
                    - var n = 0;
                    while n < 8
                      - n = n+1
                      a.col-sm-4(href='../img/girls/elena-vasileva/subgr/'+n+'.jpg' data-toggle='lightbox' data-gallery='example-gallery')
                        img.img-fluid(src='../img/girls/elena-vasileva/subgr/'+n+'.jpg')
            <br>
            a.btn.btn-primary.screensBtn(data-toggle='collapse' href='#collapseExample2' role='button' aria-expanded='false' aria-controls='collapseExample2')
              | ММА
            #collapseExample2.collapse
              .col-md-12.text-center
                  .row.justify-content-center
                    - var n = 0;
                    while n < 4
                      - n = n+1
                      a.col-sm-4(href='../img/girls/elena-vasileva/mma/'+n+'.jpg' data-toggle='lightbox' data-gallery='example-gallery')
                        img.img-fluid(src='../img/girls/elena-vasileva/mma/'+n+'.jpg')
            <br>
            h5 <u>Results of fights</u>
            table.table.table-sm.table-bordered.table-responsive-sm.text-center.table-warning
              theat
                tr
                  th(scope="col") Elena Vasilyeva vs Tais
                  th(scope="col") Elena Vasilyeva vs Vlasta
                tr
                  td <a href="../videos/8Eng.html">VIDEO 8. Submission Grappling. Beach Tournament. June, 2011</a> 
                  td <a href="../videos/8Eng.html">VIDEO 8. Submission Grappling. Beach Tournament. June, 2011</a> 
                tr
                  td <a href="../videos/16Eng.html">VIDEO 16. Youth vs Experience. Submission grappling. June, 2011</a>
                  td 
    +footer("../")