include ../includes/head.pug
include ../includes/header.pug
include ../includes/slider.pug
include ../includes/footer.pug

doctype html
html(lang='ru')
  +head('../','Девушки')
  body
    +header("../")
    main
      +slider("../")
      .container.videoAll.girls
        .row.row-text
          .col
            h3 Девушки - участницы соревнований в клубе "Намазон" 
            h3 Подкатегории
        .row.row-text
          .col
            a(href='#') 2012 - 2013
            include ../includes/cardsGirls2012-2013.pug
        .row.row-text
          .col
            a(href='#') 2010-2011
            include ../includes/cardsGirls2010-2011.pug
    +footer("../")
