include ../includes/head.pug
include ../includes/header.pug
include ../includes/slider.pug
include ../includes/footer.pug

doctype html
html(lang='ru')
  +head('../','Ирина (Власта)')
  link(rel="stylesheet", href="../css/ekko-lightbox.css")
  body
    +header("../")
    main
      +slider('../')
      .container.videos
        .row.mx-auto
          .col
            h3 Участницы соревнований 2010 - 2011 годов
            h4 ИРИНА (ВЛАСТА)
            img.mainImgSmall(src='../img/girls/irina-vlasta/vlasta.jpg' alt='main')
            p.
              <b>Ирина (Власта)</b> ( 176 см / 70 кг ) - участница соревнований по САБМИШН ГРЭППЛИНГУ, проводимых клубом 
              "НАМАЗОН". Ирина занимается танцами на пилоне и муай таем.
            a.btn.btn-primary.screensBtn(data-toggle='collapse' href='#collapseExample' role='button' aria-expanded='false' aria-controls='collapseExample')
              | САБМИШН ГРЭППЛИНГ
            #collapseExample.collapse
              .col-md-12.text-center
                  .row.justify-content-center
                    - var n = 0;
                    while n < 4
                      - n = n+1
                      a.col-sm-4(href='../img/girls/irina-vlasta/subgr/'+n+'.jpg' data-toggle='lightbox' data-gallery='example-gallery')
                        img.img-fluid(src='../img/girls/irina-vlasta/subgr/'+n+'.jpg')
            <br>
            a.btn.btn-primary.screensBtn(data-toggle='collapse' href='#collapseExample2' role='button' aria-expanded='false' aria-controls='collapseExample2')
              | ПЛЯЖНАЯ БОРЬБА
            #collapseExample2.collapse
              .col-md-12.text-center
                  .row.justify-content-center
                    - var n = 0;
                    while n < 4
                      - n = n+1
                      a.col-sm-4(href='../img/girls/irina-vlasta/beachgr/'+n+'.jpg' data-toggle='lightbox' data-gallery='example-gallery')
                        img.img-fluid(src='../img/girls/irina-vlasta/beachgr/'+n+'.jpg')
            <br>
            h4 <u>Поединки с участием <b>ИРИНЫ (ВЛАСТА)</b> в нашем ВИДЕО</u>
            table.table.table-sm.table-bordered.table-responsive-sm.text-center.table-warning
              theat
                tr
                  th(scope="col") Ирина (Власта) и Таис
                  th(scope="col") Ирина (Власта) и Елена Васильева
                tr
                  td <a href="../videos/8.html">ВИДЕО 8. Пляжный турнир. Сабмишн грэпплинг. Июнь 2011</a> 
                  td <a href="../videos/8.html">ВИДЕО 8. Пляжный турнир. Сабмишн грэпплинг. Июнь 2011</a> 
    +footer("../")