include ../includes/head.pug
include ../includes/header.pug
include ../includes/slider.pug
include ../includes/footer.pug

doctype html
html(lang='ru')
  +head('../','Natalia Mysik')
  link(rel="stylesheet", href="../css/ekko-lightbox.css")
  body
    +header("../")
    main
      +slider('../')
      .container.videos
        .row.mx-auto
          .col
            h3 Participants of competitions 2010 - 2011
            h4 NATALIA MYSIK
            img.mainImgSmall(src='../img/girls/natalia-mysik/natalia.jpg' alt='main')
            p.
              <b>Natalia Mysik</b> ( 5'11" / 154 lb ) - the participant of club's tournaments on SUBMISSION GRAPPLING.<br>
              She is a winner of the tournament on submission grappling "Christmas Cup 2011".
            a.btn.btn-primary.screensBtn(data-toggle='collapse' href='#collapseExample' role='button' aria-expanded='false' aria-controls='collapseExample')
              | SUBMISSION GRAPPLING
            #collapseExample.collapse
              .col-md-12.text-center
                  .row.justify-content-center
                    - var n = 0;
                    while n < 7
                      - n = n+1
                      a.col-sm-4(href='../img/girls/natalia-mysik/subgr/'+n+'.jpg' data-toggle='lightbox' data-gallery='example-gallery')
                        img.img-fluid(src='../img/girls/natalia-mysik/subgr/'+n+'.jpg')
            
            h5 <u>Results of fights</u>
            table.table.table-sm.table-bordered.table-responsive-sm.text-center.table-warning
              theat
                tr
                  th(scope="col") Natalia Mysik vs Maria Rylyova
                  th(scope="col") Natalia Mysik vs Valentina Perfilyeva
                tr
                  td <a href="../videos/12Eng.html">VIDEO 12. Submission grappling. Tournament. April, 2010</a> 
                  td <a href="../videos/4Eng.html">VIDEO 4. "Christmas Cup 2011". Tournament on Submission Grappling</a> 
                tr
                  td 
                  td <a href="../videos/12Eng.html">VIDEO 12. Submission grappling. Tournament. April, 2010</a>
            table.table.table-sm.table-bordered.table-responsive-sm.text-center.table-warning
              theat
                tr
                  th(scope="col") Natalia Mysik vs Ksenia Voloshina
                tr
                  td <a href="../videos/4Eng.html">VIDEO 4. "Christmas Cup 2011". Tournament on Submission Grappling</a> 
    +footer("../")