include ../includes/head.pug
include ../includes/header.pug
include ../includes/slider.pug
include ../includes/footer.pug

doctype html
html(lang='ru')
  +head('../','Таис')
  link(rel="stylesheet", href="../css/ekko-lightbox.css")
  body
    +header("../")
    main
      +slider('../')
      .container.videos
        .row.mx-auto
          .col
            h3 Участницы соревнований 2012 - 2013 годов
            h4 Таис
            img.mainImg(src='../img/girls/tais2013/main.jpg' alt='main')
            a.btn.btn-primary.screensBtn(data-toggle='collapse' href='#collapseExample' role='button' aria-expanded='false' aria-controls='collapseExample')
              | Другие фото
            #collapseExample.collapse
              .col-md-12.text-center
                  .row.justify-content-center
                    - var n = 0;
                    while n < 6
                      - n = n+1
                      a.col-sm-4(href='../img/girls/tais2013/tais-0'+n+'.jpg' data-toggle='lightbox' data-gallery='example-gallery')
                        img.img-fluid(src='../img/girls/tais2013/tais-0'+n+'.jpg')
            p.
              Взглянув на <b>Таис</b> (клуб "Намазон", Спортивный клуб "Кемпо-Кан", Санкт-Петербург) вне спортивного зала, трудно предположить, что
              очаровательная девушка перед Вами - это сильный и опытный универсальный боец.
              Таис принимает активное участие в работе клуба "Намазон" со времени его основания, успешно выступает в соревнованиях по сабмишн 
              грэпплингу (борьбе до капитуляции) и ММА боях. При росте 170 см и весе 59 - 61 кг она может бороться и биться с девушками 
              в весовых категориях 60+ и 70+. Кроме того, физическая сила и хорошая техническая подготовка Таис позволяет ей достаточно 
              успешно выступать в смешанных поединках.
            h4 <u>Таис в ММА боях</u>
            h4 Таис против Елены Васильевой. Рождественский Кубок 2012
            img.mainImg(src='../img/girls/tais2013/mma-rozhdestvenskij-kubok-2012-4/1.jpg' alt='main')
            p.
              Регламентом поединка было предусмотрено 3 раунда по 4 минуты с минутным перерывом между раундами. Однако такого количества раундов для выяснения отношений 
              между соперницами не понадобилось. Таис победила  <a href="#">Лену</a>  (168 см / 60 кг) уже в первом раунде.
            a.btn.btn-primary.screensBtn(data-toggle='collapse' href='#collapseExample2' role='button' aria-expanded='false' aria-controls='collapseExample2')
              | Другие фото
            #collapseExample2.collapse
              .col-md-12.text-center
                  .row.justify-content-center
                    - var n = 0;
                    while n < 15
                      - n = n+1
                      a.col-sm-4(href='../img/girls/tais2013/mma-rozhdestvenskij-kubok-2012-4/'+n+'.jpg' data-toggle='lightbox' data-gallery='example-gallery')
                        img.img-fluid(src='../img/girls/tais2013/mma-rozhdestvenskij-kubok-2012-4/'+n+'.jpg')
            p Заняв доминирующая положение сверху, Таис имела возможность практически без сопротивления наносить удары сопернице в голову, но предпочла закончить поединок боевым приёмом на руку.
            h4 Таис против Кары Теллер. 2012
            img.mainImg(src='../img/girls/tais2013/mma-kara-svetlany-2012-2/1.jpg' alt='main')
            p.
              В течение 2012 года Таис провела с  <a href="#">Карой Теллер</a>  (169 см / 55 кг) три поединка. В двух поединках чистую победу одержала Таис, 
              в одном (судейским решением вследствие дисквалификации Таис) – Кара.
              В качестве примера ниже приведён фотоальбом второго боя Таис и Кары. Таис в этом бою одержала победу уже в первом раунде.
            a.btn.btn-primary.screensBtn(data-toggle='collapse' href='#collapseExample3' role='button' aria-expanded='false' aria-controls='collapseExample3')
              | Другие фото
            #collapseExample3.collapse
              .col-md-12.text-center
                  .row.justify-content-center
                    - var n = 0;
                    while n < 7
                      - n = n+1
                      a.col-sm-4(href='../img/girls/tais2013/mma-kara-svetlany-2012-2/'+n+'.jpg' data-toggle='lightbox' data-gallery='example-gallery')
                        img.img-fluid(src='../img/girls/tais2013/mma-kara-svetlany-2012-2/'+n+'.jpg')
            p.
              Отметим, что Кара, в отличие от их первого поединка, смогла оказать заметное сопротивление, пару раз ей удавалось перехватывать инициативу, но силы 
              были уж очень неравные.
            h4 <u>Таис в борьбе по правилам Сабмишн Грэпплинг</u>
            p.
              Таис одержала победу во всех турнирах по сабмишн грэпплингу, организованных клубом «Намазон» в 2008 – 2011 годах. Ей не было равных как на татами, 
              так и на песчаных пляжах.<br>
              Победила Таис и в отдельных поединках с весьма сильными участницами. Она заставила капитулировать (сдаться) <b>Ирину Дергачёву</b> (Изиду) и 
              <b>Анну Михайленко</b> - известных украинских бодибилдерш, неоднократно побеждала Алесю Вересову – многократную чемпионку Белоруссии по 
              армрестлингу и в последнее время тренера по вольной борьбе.
            p.
              <b>В 2012 году</b> Таис одолела <b>Варвару Акулову</b> (175 см / 75 кг) – «самую сильную девочку планеты» в юности (что дважды подтверждено Книгой рекордов Гиннеса) 
              и мастера спорта по тяжелой атлетике и пауэрлифтингу в настоящее время.
            img.mainImg(src='../img/girls/tais2013/tais-varvara.jpg' alt='main')
            p <b>Таис</b> против <b>Варвары Акуловой</b>
            p.
              После почти двухлетнего перерыва в <b>июне 2013 года</b> Таис встретилась на татами со своей старой соперницей -  <a href="#">Еленой Васильевой</a>
              (169 см / 71 кг), которая за это время прибавила в силе, технике и весе.<br>
              В ходе более чем 20 минутной борьбы, Лена одолела свою более опытную соперницу. Таис <b>впервые</b> проиграла матч Елене Васильевой.
            img.mainImg(src='../img/girls/tais2013/2013-sg-elena-vasilyeva-tais.jpg' alt='main')
            p <b>Таис</b> протв <b>Елены Васильевой</b>
            h4 <u>ММА. Статистика результатов за 2012 год</u>
            p число побед /число поражений / число ничьих - 3 - 1 - 0 (на 8 мая 2012 года)
            <hr>
            p.
              Видео ММА боёв Таис (Видео 9, 17 и 18), её сабмишн грэпплинг (Видео 19, 29, 33 и 35) и смешанных (mixwrestling) поединков 
              (Видео 28, 30, 31-1, 31-2, 32 и 34) в 2012 - 2013 годах можно приобрести в нашем магазине на <a href="https://gumroad.com/namazonclub">Gumroad</a>.


    +footer("../")