include ../includes/head.pug
include ../includes/headerEng.pug
include ../includes/sliderEng.pug
include ../includes/footerEng.pug

doctype html
html(lang='ru')
  +head('../','Competitions 2013-2014')
  body
    +header("../")
    main
      +slider("../")
      .container.videoAll
        .row.row-text
          .col
            h3 Results of the past competitions 
            h3 2013 - 2014
            include ../includes/cardsCompetitions2013-2014Eng.pug
  +footer("../")
