include ../includes/head.pug
include ../includes/header.pug
include ../includes/slider.pug
include ../includes/footer.pug

doctype html
html(lang='ru')
  +head('../','Соревнования 2013-2014')
  body
    +header("../")
    main
      +slider("../")
      .container.videoAll
        .row.row-text
          .col
            h3 Результаты прошедших соревнований 
            h3 2013 - 2014
            include ../includes/cardsCompetitions2013-2014.pug
  +footer("../")
