include ../includes/head.pug
include ../includes/header.pug
include ../includes/slider.pug
include ../includes/footer.pug

doctype html
html(lang='ru')
  +head('../','Все соревнования')
  body
    +header("../")
    main
      +slider("../")
      .container.videoAll
        .row.row-text
          .col
            h3 Результаты прошедших соревнований 
            h3 Подкатегории
            a(href='competitions2015-2017.html') 2015-2017
            include ../includes/cardsCompetitions2015-2017.pug
        .row.row-text
          .col
            a(href='competitions2013-2014.html') 2013-2014
            include ../includes/cardsCompetitions2013-2014.pug
        .row.row-text
          .col
            a(href='competitions2012.html') 2012
            include ../includes/cardsCompetitions2012.pug
        .row.row-text
          .col
            a(href='competitions2011.html') 2011
            include ../includes/cardsCompetitions2011.pug
        .row.row-text
          .col
            a(href='competitionsArchive.html') Архив
            include ../includes/cardsCompetitionsArchive.pug
  +footer("../")
