include ../../includes/head.pug
include ../../includes/header.pug
include ../../includes/slider.pug
include ../../includes/footer.pug

doctype html
html(lang='ru')
  +head('../../','Турнир по сабмишн грэпплингу на призы клуба "НАМАЗОН". Октябрь 2014 ')
  link(rel="stylesheet", href="../../css/ekko-lightbox.css")
  body
    +header("../../")
    main
      +slider('../../')
      .container.videos
        .row.mx-auto
          .col
            h3 Результаты прошедших соревнований
            h4 ММА и сабмишн грэпплинг. Кара против Светланы и Таис 
            img.mainImg(src='../../img/videos/17/main.jpg' alt='main')
            p.
              <b>Светлана Соловьёва</b> (Санкт-Петербург, 169 см / 56 кг) - физически очень сильная девушка. 
              На последнем Женском силовом многоборье (29.01.2012) Светлана подняла на бицепс 37,5 кг и выжала
              на динамометре 56, 3 кг – больше собственного веса!<br>
              <a href="../../girls/kara-teller.html">Кара Теллер</a> (Москва, 169 см/ 55 кг) к моменту боя уже 
              зарекомендовала себя опытным и неуступчивым бойцом.
            p.
              Бой начался с обмена ударами как руками, так и ногами. Довольно быстро он перешёл в партер, где Кара одержала
              победу удушением. Кара победила в первом раунде за 1 минуту 13 секунд. Очень убедительная победа.
            a.btn.btn-primary.screensBtn(data-toggle='collapse' href='#collapseExample' role='button' aria-expanded='false' aria-controls='collapseExample')
              | Смотреть фото
            #collapseExample.collapse
              .col-md-12.text-center
                  .row.justify-content-center
                    - var n = 0;
                    while n < 13
                      - n = n+1
                      a.col-sm-4(href='../../img/videos/17/mma-kara-svetlany-2012-1/'+n+'.jpg' data-toggle='lightbox' data-gallery='example-gallery')
                        img.img-fluid(src='../../img/videos/17/mma-kara-svetlany-2012-1/'+n+'.jpg')
            p.
              Бой Кары со Светланой получился очень скоротечным и у девушек осталось ещё много сил. Поэтому было решено 
              продолжить наш спортивный вечер внеплановым ММА поединком между <b>Карой</b> и <b>Таис</b> 
              (Санкт-Петербург, 170 см / 60 кг).
            p.
              Напомним, что это был второй бой Кары с Таис, в первом победу одержала Таис.<br>
              В этот раз схватка девушек была более продолжительной и напряжённой, временами Каре на короткое время 
              удавалось перехватывать инициативу. Однако, этого не хватило, в результате победила Таис, как и в 
              первом поединке, удушением.
            a.btn.btn-primary.screensBtn(data-toggle='collapse' href='#collapseExample2' role='button' aria-expanded='false' aria-controls='collapseExample')
              | Смотреть фото
            #collapseExample2.collapse
              .col-md-12.text-center
                  .row.justify-content-center
                    - var n = 0;
                    while n < 7
                      - n = n+1
                      a.col-sm-4(href='../../img/videos/17/mma-kara-svetlany-2012-2/'+n+'.jpg' data-toggle='lightbox' data-gallery='example-gallery')
                        img.img-fluid(src='../../img/videos/17/mma-kara-svetlany-2012-2/'+n+'.jpg')
            p.
              В заключение <b>Кара</b> и <b>Светлана Соловьёва</b> померялись силой в борьбе по правилам сабмишн 
              грэпплинг.
            a.btn.btn-primary.screensBtn(data-toggle='collapse' href='#collapseExample3' role='button' aria-expanded='false' aria-controls='collapseExample')
              | Смотреть фото
            #collapseExample3.collapse
              .col-md-12.text-center
                  .row.justify-content-center
                    - var n = 0;
                    while n < 9
                      - n = n+1
                      a.col-sm-4(href='../../img/videos/17/mma-kara-svetlany-2012-3/'+n+'.jpg' data-toggle='lightbox' data-gallery='example-gallery')
                        img.img-fluid(src='../../img/videos/17/mma-kara-svetlany-2012-3/'+n+'.jpg')
            p.
              Борьба закончилась вничью. Более физически сильной Светлане победить не хватило технике, более техничной 
              Каре – силы. Безусловно, на результат повлияла и накопившаяся усталость девушек.
            hr
            p.
              ММА бои Кары со Светланой и Таис, а также поединок между Карой и Светланой по правилам сабмишн грэпплинга можно
              увидеть в нашем фильме (Видео 17), который можно приобрести на 
              <a href="https://gumroad.com/namazonclub">Gumroad</a>.
    +footer("../../")