include ../../includes/head.pug
include ../../includes/header.pug
include ../../includes/slider.pug
include ../../includes/gallery.pug
include ../../includes/footer.pug

doctype html
html(lang='ru')
  +head('../../','Первая Невская Арена. ММА турнир')
  body
    +header("../../")
    main
      +slider('../../')
      .container.videos
        .row.mx-auto
          .col
            h3 Результаты прошедших соревнований
            h4 Первая Невская Арена. ММА турнир  
            img(src='../../img/videos/20/main.jpg' alt='main')
            p.
              <b>Невская Арена</b> - это турнир по боям "без правил" среди женщин, проводимый на природе (улице). 
              По своей идее наши соревнования похожи на известные турниры Стрелка - бои "без правил" на улице для
              мужчин. Стрелка проводится в Питере уже второй год, отличается демократичностью и приобрела уже 
              международную известность.
            p.
              Первая Невская Арена прошла 1 июля 2012 года в парке Сосновка.<br>
              В турнире приняли участие <a href="../../girls/kara-teller.html">Кара Теллер</a>  (клуб "Витязь",
              Москва, 169 см / 56 кг), <a href="../../girls/darya-balina.html">Дарья Балина</a> (клуб женской 
              самообороны "Пантера", Санкт-Петербург, 162 см / 56 кг), <b>Юлия Федутенко</b> (клуб смешанных 
              единоборств "Тиброн", Санкт-Петербург, 174 см / 59 кг) и дебютантка соревнований по правилам ММА
              <b>Ольга</b> (Санкт-Петербург, 170 см / 63 кг). Каждый поединок состоял из трёх раундов по четыре минуты каждый.
              Перерывы между раундами составляли две минуты.
            h5 <u>Бой первый.</u> Кара Теллер (Москва) против Юлии Федутенко (Санкт-Петербург)
            p.
              <b>Юлия</b> – в большей степени ударница, которая пока не очень уверенно чувствует себя в борьбе. 
              <b>Кара</b> раньше уже зарекомендовала себя как очень стойкий универсальный боец. В предыдущих 
              своих поединках она, как правило, добивалась побед удушением в партере.
            p.
              Все три раунда прошли в жёсткой и бескомпромиссной борьбе. Юля старалась работать в стойке, нанося удары руками
              и ногами. Кара при первой возможности пыталась перевести борьбу в партер и закончить схватку удушением. В 
              партере Кара была активнее и пыталась атаковать, но Юля показала себя очень упорной соперницей и успешно 
              защищалась. Несколько раз в борьбе ей удавалось занять более выгодное положение и нанести Каре ряд ударов.
            +gallery("Смотреть фото", "../../img/videos/20/mma-pervaya-nevskaya-arena-2012-1/", 1, 29, "first")
            p.
              В двенадцатиминутном бою чистой победы никто из девушек не одержал. Кара Теллер предпочла бы выяснить отношения до конца 
              в четвёртом дополнительном раунде. Однако, судейским решением победа была присуждена Юлии Федутенко, та как на её стороне 
              было небольшое преимущество по очкам после трёх раундов.
            h5 <u>Бой второй.</u> Дарья Балина (Санкт-Петербург) против Ольги (Санкт-Петербург)
            p.
              Бой в этой паре получился не менее интересный, чем поединок в предыдущей паре. Тут было всё: кураж, обмен ударами в стойке, 
              борьба в партере, попытки добивания.
            +gallery("Смотреть фото", "../../img/videos/21/mma-pervaya-nevskaya-arena-2012-2/", 1, 38, "second")
            p.
              И опять, после трёх раундов было трудно отдать преимущество одной из участниц. Примерно равные силы, примерно равный бой. 
              Ничья.
            hr
            p.
              Вы можете приобрести видео с поединком Кары Теллер против Юлии Федутенко (<b>Видео 20</b>) и боем Ольги с Дарьей Балиной 
              (<b>Видео 21</b>) в нашем магазине на <a href="https://gumroad.com/namazonclub">Gumroad</a>.
    +footer("../../")