include ../../includes/head.pug
include ../../includes/headerEng.pug
include ../../includes/sliderEng.pug
include ../../includes/footerEng.pug

doctype html
html(lang='ru')
  +head('../../','MMA fights in the May holidays. Results. May, 2012')
  link(rel="stylesheet", href="../../css/ekko-lightbox.css")
  body
    +header("../../")
    main
      +slider('../../')
      .container.videos
        .row.mx-auto
          .col
            h3 2012
            h4 MMA fights in the May holidays. Results. May, 2012
            img.mainImg(src='../../img/videos/18/mma-sportivnyj-prazdnik-2012-1/14.jpg' alt='main')
            p.
              Two rating MMA fights were held in our club May 8, 2012. Each fight consists of 3 rounds, each round lasts 3 minutes. The participants in the fights:
            ul
              li <a href="../../girls/tais2013Eng.html">Tais</a>  (St. Petersburg, 5'7" / 132 lb) – the best fighter of the club, she had never lost before;
              li <a href="../../girls/kara-tellerEng.html">Kara Teller</a>  (Moscow, 5'7" / 119 lb) – a young promising fighter who has by now gained a victory over two girls from the Namazon Club;
              li <a href="../../girls/darya-balinaEng.html">Darya Balina</a>  (St. Petersburg, 5'4" / 124 lb) – a newcomer in our competitions, going in hard for ultimate fightings lately.
            h5 <u>The first fight</u>  Kara Teller vs Darya Balina
            p.
              The fight was already interesting because a newcomer took part in it. The whole first round the girls fought in standing position. The round was won by Kara. She worked on a long distance and she did shake Darya a few times with accurate punches. The start of the second round was similar to the first one, but at the middle of the round the two girls fell down grappling with each other on the floor, and Kara proved to be stronger there.
            a.btn.btn-primary.screensBtn(data-toggle='collapse' href='#collapseExample' role='button' aria-expanded='false' aria-controls='collapseExample')
              | See photos
            #collapseExample.collapse
              .col-md-12.text-center
                  .row.justify-content-center
                    - var n = 0;
                    while n < 17
                      - n = n+1
                      a.col-sm-4(href='../../img/videos/18/mma-sportivnyj-prazdnik-2012-1/'+n+'.jpg' data-toggle='lightbox' data-gallery='example-gallery')
                        img.img-fluid(src='../../img/videos/18/mma-sportivnyj-prazdnik-2012-1/'+n+'.jpg')
            h5 <u>The second fight</u>  Kara Teller vs Tais
            p.
              <b>Kara</b> and <b>Tais</b> had already met before and knew each other well. During the most part of the match the girls wrestled on the ground. Tais had some advantage, however, Kara defended skillfully. At the end of the first round Tais did not fulfill the command of the ref on the mat, entered into conversation with him and as a result she received a foul. Thus, the first score went to Kara. In the second round Tais managed to use her advantage in wrestling. She defeated Kara via submission with a chokehold. However, after more careful review of the match, the FOUL received by Tais was changed to DISQUALIFICATION. The final victory was awarded to Kara Teller. The total score of their matches became 2-1 in favor of Tais.
            a.btn.btn-primary.screensBtn(data-toggle='collapse' href='#collapseExample2' role='button' aria-expanded='false' aria-controls='collapseExample')
              | See photos
            #collapseExample2.collapse
              .col-md-12.text-center
                  .row.justify-content-center
                    - var n = 0;
                    while n < 11
                      - n = n+1
                      a.col-sm-4(href='../../img/videos/18/mma-sportivnyj-prazdnik-2012-2/'+n+'.jpg' data-toggle='lightbox' data-gallery='example-gallery')
                        img.img-fluid(src='../../img/videos/18/mma-sportivnyj-prazdnik-2012-2/'+n+'.jpg')
            p.
              At the festival there were also submission grappling matches (MM, WW, WM) and the contests on legwrestling and pushing the opponent out of the mat.
            a.btn.btn-primary.screensBtn(data-toggle='collapse' href='#collapseExample3' role='button' aria-expanded='false' aria-controls='collapseExampl3')
              | See photos
            #collapseExample3.collapse
              .col-md-12.text-center
                  .row.justify-content-center
                    - var n = 0;
                    while n < 14
                      - n = n+1
                      a.col-sm-4(href='../../img/competitions/2012/mma-sportivnyj-prazdnik-2012-3/'+n+'.jpg' data-toggle='lightbox' data-gallery='example-gallery')
                        img.img-fluid(src='../../img/competitions/2012/mma-sportivnyj-prazdnik-2012-3/'+n+'.jpg')
            hr
            p.
              If you like such fights, buy our film (<b><u>VIDEO 18.</u></b> MMA tournament. May, 2012) on  <a href="https://gumroad.com/namazonclub">Gumroad</a> and you will be able to see everything yourself.


    +footer("../../")