include ../../includes/head.pug
include ../../includes/header.pug
include ../../includes/slider.pug
include ../../includes/footer.pug

doctype html
html(lang='ru')
  +head('../../','Борьба. Варвара Акулова против Таис')
  link(rel="stylesheet", href="../../css/ekko-lightbox.css")
  body
    +header("../../")
    main
      +slider('../../')
      .container.videos
        .row.mx-auto
          .col
            h3 Результаты прошедших соревнований
            h4 Борьба. Варвара Акулова против Таис 
            img.mainImg(src='../../img/videos/19/main.jpg' alt='main')
            p.
              <b>Варвара Акулова</b> (1992 г/р), будучи ребёнком и подростком, неоднократно признавалась самой 
              сильной девочкой планеты, что дважды подтверждено Книгой рекордов Гиннеса. 
              Силовые показатели в разные периоды жизни Варвары представлены, например, 
              на <a href="http://www.spb-ac.ru/var.htm">Официальном сайте Санкт-Петербургского Атлетического 
              Центра</a>. Смотри также <a href="https://warnet.ws/2007/07/13/varvara-akulova-samaya-silnaya-devochka-na-planete-39-foto.html">тут</a>.<br>
              <a href="https://fakty.ua/130242-menya-osuzhdali-mol-doch-vyrastet-mutantom-da-u-varvary-do-500-predlozhenij-braka-v-internete-ezhemesyachno">В настоящее время</a> Акулова – действующая спортсменка, мастер спорта по тяжелой атлетике 
              и пауэрлифтингу. Причём эти результаты получены без вспомогательной фармакологии, что большая редкость
              в силовых видах спорта. Рост Варвары – 175 см и вес 75 кг.<br>
              <a href="../../girls/tais2013.html">Таис</a>  – лидер клуба “Намазон”. Она специализируется в борьбе и ММА.
            p.
              В этом поединке на стороне Варвары было превосходство в весе (около 15 кг) и силе, на стороне Таис был опыт 
              и превосходство в технике.
            img.mainImg(src='../../img/videos/19/main2.jpg' alt='main')
            img.mainImg(src='../../img/videos/19/1.jpg' alt='main')
            img.mainImg(src='../../img/videos/19/5.jpg' alt='main')
            p.
              Борьба проходила по правилам грэпплинга. Интрига поединка состояла в том, <b>ЧЬЯ</b> же всё-таки возьмёт? 
              <b>ЧТО</b> одержит верх: мастерство или чистая сила?
            hr
            p.
              Видео поединка Варвары Акуловы с Таис (Видео 19) можно приобрести в магазине на <a href="https://gumroad.com/namazonclub">Gumroad</a>.
    +footer("../../")