include ../../includes/head.pug
include ../../includes/headerEng.pug
include ../../includes/sliderEng.pug
include ../../includes/gallery.pug
include ../../includes/footerEng.pug

doctype html
html(lang='ru')
  +head('../../','Two girls vs one man. Video 2010')
  body
    +header("../../")
    main
      +slider('../../')
      .container.videos
        .row.mx-auto
          .col
            h3 Archive
            h4 Two girls vs one man. Video 2010
            img(src="../../img/videos/3mix/main.jpg", alt="main")
            p.
              <b>Alex</b>  (5’9” / 150 lb)  and two regular Namazon Club’s members <b>Natalia Mysik</b>  (5’11” / 154 lb)  and <b>Tais</b>  (5’7” / 132 lb). The competition was held in two rounds, with no specific time limit set for any individual fight. Each fight went on until one of the opponents was unable to continue and admitted defeat. The submissions were either joint locks or chokes.
            h5 Alex vs Natalia Mysik
            p.
              The first who stepped forward on the slightly wet sand were Natasha and Alex. The fight began with Alex getting the upper hand. At first he was able to drop his opponent down on the sand and then to submit her. That seemed quite irritating to ambitious Namazonian woman who had apparently thought she would easily win. She got pretty angry about her unexpected defeat, so in the next two rounds she fought with Alex more aggressively and gained two convincing victories, both times pinning Alex down with her strong body in the sand and immobilizing him in this position.<br>
              The final score in the match was 2-1 for Natalia Mysik.
            +gallery("See photos","../../img/videos/3mix/wm1/", 1, 15, "first")
            h5 Alex vs Tais
            p.
              The second Namazonian wrestler Tais gave our guest from Moscow no chance at all to win. She completely dominated over poor Alex, forcing him to submit again and again. Each fight ended with Alex getting stuck in a choke hold or an armlock.<br>
              In the end, Tais defeated him by the score of 3-0.
            +gallery("See photos","../../img/videos/3mix/wm2/", 1, 18, "second")
            h5 Natalia Mysik vs Tais
            p.
              The first two fights between Natalia Mysik and Tais developed in a dramatic way. The advantage shifted from one wrestler to the other almost every few seconds. Funny enough, but experienced Tais made mistakes one after the other! On one occasion, for example, when trying to execute a throw, she lost her footing on the loose sand and fell down finding herself an instant later in a danger position. The other blunders she made were even worse than this one. In a word, Natasha had real chances to win the ground fights – at least in the first two rounds. However, even though she tried hard, she wasn't able to take advantage of these favorable positions, and suffered defeats in each round.<br>
              By the end of the tournament, fatigue began to tell upon Natalia. In the final round she did not fight as aggressively as she did earlier, and Tais gained a quick submission victory, finishing Natalia with a pin combined with an armbar.<br>
              Thus, there were no particular surprises. Tais won over Natalia Mysik with the total score of 3-0.
            +gallery("See photos","../../img/videos/3/ww/", 1, 42, "third")
            p Eventually, Tais was the winner of the tournament, Natalia Mysik took the 2nd place, and Alex was on the 3rd.
            hr
            p.
              The full video of the beach mixed wrestling round-robin tournament with participation of Natalia Mysik, Tais and Alex  (<b>VIDEO 3.</b> Beach Submission Grappling. Two girls vs one man), is available for purchasing in our online store on <a href="https://gumroad.com/namazonclub">Gumroad</a>.
    +footer("../../")