include ../../includes/head.pug
include ../../includes/header.pug
include ../../includes/slider.pug
include ../../includes/gallery.pug
include ../../includes/footer.pug

doctype html
html(lang='ru')
  +head('../../','Пляжный турнир. Две девушки против одного мужчины. Видео 2010')
  body
    +header("../../")
    main
      +slider('../../')
      .container.videos
        .row.mx-auto
          .col
            h3 Результаты прошедших соревнований
            h4 Пляжный турнир. Две девушки против одного мужчины. Видео 2010
            img(src="../../img/videos/3mix/main.jpg", alt="main")
            p.
              В турнире от клуба "Намазон" приняли участие <b>Наталья Мысик</b> (180 см / 70 кг) и <b>Таис</b> (170 см / 60 кг). Мужчин представлял <b>Алекс</b> (175 см / 68 кг) - наш друг из Москвы. Соревнование прошло в три круга, каждая схватка продолжалась без ограничения по времени до чистой победы - "сдачи" оппонента (путём проведения болевого приёма или удушения).<br>
              Первыми на слегка влажный песок вышли Наташа и Алекс. И Алекс сначала завалил соперницу на песок, а потом и заставил капитулировать. Это был несколько неожиданный для Наташи результат, которая, судя по всему, рассчитывала на лёгкую победу.<br>
              Разозлившись за поражение, Наташа очень уверенно боролась с Алексом во втором и третьем круге. Она одержала безоговорочную победу, вдавив Алекса в песок и решив его возможности сопротивляться.<br>
              Общий счёт 2 - 1 в пользу Натальи Мысик.
            h5 Алекс против Натальи Мысик
            +gallery("Смотреть фото","../../img/videos/3mix/wm1/", 1, 15, "first")
            p.
              Вторая намазонка – Таис – не оставила нашему гостю из Москвы шансов на победу. Полное доминирование Таис, поединки заканчивались удушением или болевым приёмом – рычагом на локоть.<br>
              В результате Таис победила Алекса со счётом 3 – 0
            h5 Алекс против Таис
            +gallery("Смотреть фото","../../img/videos/3mix/wm2/", 1, 18, "second")
            p.
              Первые два поединка между Натальей Мысик и Таис складывались весьма драматично. Один раз Таис подвёл достаточно рыхлый песок, пару раз Таис сама допустила ошибки. В результате у Наташи были хорошие шансы одержать победу в борьбе на песке (в партере). Однако, хотя Наташа и очень старалась, она не смогла реализовать выигрышные для неё моменты и в результате потерпела поражения.<br>
              В последнем круге сказалась усталость Наташи, Таис одержала уверенную победу.<br>
              В результате неожиданностей не произошло, Таис победила Наталью Мысик с общим счётом 3 – 0.
            h5 Наталья Мысик против Таис
            +gallery("Смотреть фото","../../img/videos/3/ww/", 1, 42, "third")
            p Таким образом, <b>Таис</b> - первая, <b>Наталья Мысик</b> - вторая и <b>Алекс</b> занял третье место.
            hr
            p.
              Видео смешанного пляжный турнира с участием двух намазонок (Натальи Мысик и Таис) и Алекса (<b>Видео 3</b>) можно приобрести на <a href="https://gumroad.com/namazonclub">Gumroad</a>.
    +footer("../../")