include ../../includes/head.pug
include ../../includes/header.pug
include ../../includes/slider.pug
include ../../includes/gallery.pug
include ../../includes/footer.pug

doctype html
html(lang='ru')
  +head('../../','Ирина против Таис. Видео 2009')
  body
    +header("../../")
    main
      +slider('../../')
      .container.videos
        .row.mx-auto
          .col
            h3 Результаты прошедших соревнований
            h4 Борьба на пляже. Ирина против Таис. Видео 2009
            p.
              Сильнейшие девушки из клуба «Намазон» <b>Ирина</b> и <b>Таис</b> в этот раз выясняли, кто из них сильнее на пляже. Такая борьба обычно называется пляжной. Поединок проходил по правилам сабмишн грэпплинг. <b>Ирина</b> (176 см / 68 кг), как обычно, боролась в агрессивной манере, <b>Таис</b> (170 см / 60 кг) - технично и «от обороны». Девушки из стойки быстро «свалились» на песок и продолжали бороться в партере.<br>
              Песок, в отличие от татами, не обеспечивает надёжной опоры для ног, что особенно сказывается на борьбе в стойке. В партере песок имеет обыкновение забиваться в волосы и попадать в рот. Особенно тяжело бывает той участнице, что оказывается «внизу».<br>
              Полностью поединок Ирины и Таис на пляже можно увидеть в нашем клипе.
            p.
              Ирина и Таис боролись много раз, так как обе тренировались в одном зале. Обычно побеждала Таис. Теперь же, по прошествии нескольких лет, представляется возможным, что результаты их схваток могли бы другими, если бы девушки использовали в борьбе захваты за волосы. На эту мысль наводит способность Ирины терпеть боль и бороться из последних сил.
    +footer("../../")