include ../../includes/head.pug
include ../../includes/headerEng.pug
include ../../includes/sliderEng.pug
include ../../includes/gallery.pug
include ../../includes/footerEng.pug

doctype html
html(lang='ru')
  +head('../../','Beach wrestling. Irina vs Tais. Video 2009')
  body
    +header("../../")
    main
      +slider('../../')
      .container.videos
        .row.mx-auto
          .col
            h3 Archive
            h4 Beach wrestling. Irina vs Tais. Video 2009
            img.mainImgSmall(src='../../img/girls/irina/beachgr/6.jpg' alt='main')
            p.
              <b>Irina</b>  (5’9” / 150 lb)  and <b>Tais</b>  (5’7” / 132 lb), the two strongest women of the Namazon Club, came out to the beach to find out which one of them is the better wrestler on a sand surface. This type of wrestling is usually called "beach wrestling", but here, unlike in the case of standard beach competitions, they had to compete according the rules of submission grappling.<br>
              Irina wrestled in her usual aggressive manner, while Tais did it more intelligently and skillfully, moving with ease from defense to attack. For some while they wrestled standing up and then both tumbled down on to the sand and kept grappling there, trying to gain upper body control.<br>
              As you can imagine, wrestling on sand is not the same as wrestling on a mat. The soft, uneven surface of the sand, unlike a mat, does not afford a secure foothold, which is especially felt in stand-up wrestling. And when you grapple on the ground, the sand tends to stick in your hair and to get in your mouth. This can make the trouble worse for those who struggle in the bottom position.
            p.
              You can see the <b>Irina vs Tais</b> beach wrestling fight in full in our video clip.
            p.
              Irina and Tais have wrestled each other many times as they have trained together in the same gym. Tais usually won the fights between them. But today, after the years have gone by, it does seem to us that the outcomes of those fights could have been different if the girls had fought under rules allowing grabbing and pulling hair. Irina’s ability to endure pain and to persevere in tough fights could have made her a very good catfighter.
    +footer("../../")