include ../../includes/head.pug
include ../../includes/header.pug
include ../../includes/slider.pug
include ../../includes/gallery.pug
include ../../includes/footer.pug

doctype html
html(lang='ru')
  +head('../../','Изида против Ирины. Видео 2008')
  body
    +header("../../")
    main
      +slider('../../')
      .container.videos
        .row.mx-auto
          .col
            h3 Результаты прошедших соревнований
            h4 Изида против Ирины. Видео 2008
            p.
              Схватка <b>Изиды</b> (Херсон, Москва) с <b>Ириной</b> (Санкт-Петербург, клуб «Намазон») состоялась во второй приезд Изиды в Санкт-Петербург. <b>Изиде</b> (168 см / 70 кг) досталась очень энергичная и агрессивная соперница. <b>Ирина</b> (176 см / 68 кг) к этому времени имела в своём активе несколько блестящих побед, в том числе и над Таис. Физически Ирина не уступала Изиде и ожидалась интересная, во многом силовая борьба.<br>
              Борьба велась до двух побед и получилась очень упорной. Победительница была выявлена в последнем третьем раунде.<br>
              Отметим, что результат второго раунда вызывает некоторые сомнения. Так, по словам самой Изиды, она не сдалась и ударила рукой по ковру случайно. Однако, изложенная точка зрения возникла не сразу, а спустя некоторое время после окончания поединка.<br>
              Смотрите наш клип и Вы всё увидите сами.
            p.
              Изида и Ирина встречались только один раз. Рематча не было и теперь уже наверно не будет.<br>
              В этот день планировались поединки ещё одной украинской бодибилдерши <b>Анны Михайленко</b>. С Анной были готовы бороться как Изида, так и Ирина … но Анна предпочла остаться в роли зрителя в этот день.
    +footer("../../")