include ../../includes/head.pug
include ../../includes/headerEng.pug
include ../../includes/sliderEng.pug
include ../../includes/gallery.pug
include ../../includes/footerEng.pug

doctype html
html(lang='ru')
  +head('../../','Izida vs Irina. Video 2008')
  body
    +header("../../")
    main
      +slider('../../')
      .container.videos
        .row.mx-auto
          .col
            h3 Archive
            h4 Izida vs Irina. Video 2008
            img.mainImgSmall(src='../../img/girls/irina/subgr/7.jpg' alt='main')
            p.
              The wrestling match between <b>Izida</b> (Kherson, Moscow) and <b>Irina</b> (Namazon Club, St. Petersburg) took place during Izida’s second visit to St. Petesburg. Izida (5’6” / 154 lb) found a very tough and aggressive opponent in the person of Irina. By that time Irina (5’9” / 150 lb) had already been an experienced fighter with a few impressive victories under her belt, including a win over Tais. Knowing that she had been equal to Izida in terms of fitness and physical strength, we could expect an interesting wrestling match between them, with a certain kind of power fight.
            p.
              The rules required the girls to fight at least to two wins to determine a winner. It was a fairly competitive and evenly matched fight. And the winner was determined in the third, decisive round.<br>
              It should also be pointed out that the outcome of the second round was disputable. Afterwards, Izida insisted that her tap on the mat was just a casual strike but not a signal of submission. However, this explanation came only a while after the end of the fight, but not immediately.<br>
              Just watch our video and you’ll see everything yourselves!
            p.
              <b>Izida</b> and <b>Irina</b> fought each other only once. There was no rematch between them, and will hardly ever be in the near future.<br>
              On that day, we invited yet another Ukrainian bodybuilder <b>Anna Michailenko</b> to participate in our wrestling event. Both Izida and Irina were ready to fight with her… but Anna decided to hold back from competing and preferred to be in the spectator role.
    +footer("../../")