include ../../includes/head.pug
include ../../includes/header.pug
include ../../includes/slider.pug
include ../../includes/gallery.pug
include ../../includes/footer.pug

doctype html
html(lang='ru')
  +head('../../','Изида против Таис. Видео 2008')
  body
    +header("../../")
    main
      +slider('../../')
      .container.videos
        .row.mx-auto
          .col
            h3 Результаты прошедших соревнований
            h4 Изида против Таис. Видео 2008
            p.
              Поединок между известной украинской бодибилдершей <b>Изидой</b> и <b>Таис</b> был одним из самых интересных событий 2008 года. <b>Изида</b> (168 см / 70 кг) находилась в хорошей физической форме, но только начинала заниматься борьбой. <b>Таис</b> (170 см / 60 кг) также физически сильна, но, как ожидалось, должна была уступать своей сопернице физически. Технически же Таис превосходила Изиду.<br>
              Все мы ждали интересной борьбы, поединок между <b>СИЛОЙ</b> и <b>ТЕХНИКОЙ</b> - это всегда интересно.<br>
              Как всё проходило и кто в результате победил, Вы узнаете, если посмотрите клип.
            p.
              К сожалению, это единственный поединок между <b>Таис</b> и <b>Изидой</b>.<br>
              Изида с тех пор продолжала заниматься борьбой (в основной смешанной), активно участвовала в <b>ШОУ ЖЕНСКОЙ БОРЬБЫ (PWF)</b>.<br>
              Казалось бы можно было ожидать, что, приобретя опыт в борьбе, <b>Изида</b> захочет реабилитироваться и <b>потребует рематча</b>. Однако этого не происходит.
    +footer("../../")