include ../../includes/head.pug
include ../../includes/header.pug
include ../../includes/slider.pug
include ../../includes/footer.pug

doctype html
html(lang='ru')
  +head('../../','Женские силовые единоборства на Масленицу 2017')
  link(rel="stylesheet", href="../../css/ekko-lightbox.css")
  body
    +header("../../")
    main
      +slider('../../')
      .container.videos
        .row.mx-auto
          .col
            h3 Результаты прошедших соревнований
            h4 Женские силовые единоборства на Масленицу 2017
            img.mainImg(src='../../img/competitions/2017/Shrove_Tuesday/wrestling/15.jpg' alt='main')
            p.
              16 февраля в клубе НАМАЗОН прошли ставшие уже традиционными женские силовое соревнования, приуроченное к 
              Масленице 2017. Девушки соревновались в двух номинациях: армрестлинге и борьбе (сабмишн грэпплинге), 
              для победы в которой было необходимо заставить соперницу сдаться. В этот раз было четыре участницы, 
              вошедшие в весовую категорию 60+:
            ul
              li.
                <b>Вардугина Виктория (68 кг)</b> - неоднократная победительница силовых единоборств, организованных клубом Намазон,
                специализирующаяся в основном в армрестлинге;
              li.
                <b>Васильева Елена (74 кг)</b> - известная армрестлерша, занимающаяся также грэпплингом, ММА и регби;
              li.
                <b>Григоренко Оксана (62 кг)</b>, занимающаяся в клубе борьбой и ММА;
              li.
                <b>Пивень Алёна (61 кг)</b>, специализирующаяся в грэпплинге.
            p.
              Клуб НАМАЗОН представляли Алёна Пивень и Оксана Григоренко. Елена Васильева приняла участие только в армрестлинге.
            p.
              <b>АРМРЕСТЛИНГ</b>. В полуфиналах встретились <b>Пивень</b> с <b>Вардугиной</b> и <b>Григоренко</b> с 
              <b>Васильевой</b>. В обеих парах на обеих руках сравнительно легко победили более опытные армрестлерши
              <b>Елена Васильева</b> и <b>Виктория Вардугина</b>, которые и встретились в финале. В результате, 
              победив на обеих руках, первое место заняла более титуловнная <b>Елена</b>, <b>Виктория</b> 
              соответственно вторая. В борьбе за третье место на левой и правой руке <b>Оксана</b> победила 
              <b>Алёну</b>.
            a.btn.btn-primary.screensBtn(data-toggle='collapse' href='#collapseExample' role='button' aria-expanded='false' aria-controls='collapseExample')
              | Фото армрестлинг
            #collapseExample.collapse
              .col-md-12.text-center
                  .row.justify-content-center
                    - var n = 0;
                    while n < 4
                      - n = n+1
                      a.col-sm-4(href='../../img/competitions/2017/Shrove_Tuesday/armwrestling/'+n+'.jpg' data-toggle='lightbox' data-gallery='example-gallery')
                        img.img-fluid(src='../../img/competitions/2017/Shrove_Tuesday/armwrestling/'+n+'.jpg')
            p.
              <b>БОРЬБА (САБМИШН ГРЭППЛИНГ)</b>. Девушки боролись каждая с каждой. Тут первой оказалась 
              <b>Оксана Григоренко</b>, с большим преимуществом победив как Викторию, так и Алёну. Поединок же за второе 
              место прошёл в исключительно упорной борьбе. Регламент подразумевал два пятиминутных раунда с двухминутным
              перерывом. И в результате ничья. Для выявления победительницы после отдыха было решено провести ещё один
              пятиминутный раунд, в котором победу удушением одержала <b>Алёна Пивень</b>.
            a.btn.btn-primary.screensBtn(data-toggle='collapse' href='#collapseExample2' role='button' aria-expanded='false' aria-controls='collapseExample2')
              | Фото борьба
            #collapseExample2.collapse
              .col-md-12.text-center
                  .row.justify-content-center
                    - var n = 0;
                    while n < 29
                      - n = n+1
                      a.col-sm-4(href='../../img/competitions/2017/Shrove_Tuesday/wrestling/'+n+'.jpg' data-toggle='lightbox' data-gallery='example-gallery')
                        img.img-fluid(src='../../img/competitions/2017/Shrove_Tuesday/wrestling/'+n+'.jpg')
            p.
              Поединок <b>Алёны Пивень</b> и <b>Виктории Вардугиной</b> имел во многом принципиальный характер. 
              Алёна занимается грэпплингом в клубе сравнительно недавно, прогрессирует каждое занятие и за это 
              время добилась значительных успехов. Оставалась интрига, как закончится её схватка с Викторией.
    +footer("../../")