include includes/head.pug
include includes/headerEng.pug
include includes/sliderEng.pug
include includes/footerEng.pug

doctype html
html(lang='en')
  +head('','Contact Us')
  body
    +header
    main
      +slider
      .container.order
        .row
          .col
            h2 Contact Us 
            p Email: <a href='mailto:namazonclub@gmail.com'>namazonclub@gmail.com</a>
            p Facebook: <a href='https://www.facebook.com/groups/namazonclub'>https://www.facebook.com/groups/namazonclub</a>
            p VK: <a href='https://vk.com/namazon'>https://vk.com/namazon</a>
    +footer
