doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet' href='css/style.css')
    link(rel='stylesheet' href='css/bootstrap.css')
    title Видео борьба
  body
    include includes/header.pug
    main
      include includes/slider.pug
      .container.videoAll
        .row.row-text
          .col
            h3 Борьба
            p
              | В данной подкатегории рассматривается 
              b борьба только между женщинами
              | , которая, как правило, проводится по правилам 
              b САБМИШН ГРЭППЛИНГА
              | .
        include includes/cardsWrestling.pug
        .row.row-text
          .col
            a(href='order.html') Как приобрести наше видео
    include includes/footer.pug
