include includes/head.pug
include includes/headerEng.pug
include includes/sliderEng.pug
include includes/footerEng.pug

doctype html
html(lang='en')
  +head('','Видео MMA')
  body
    +header
    main
      +slider
      .container.videoAll
        .row.row-text
          .col
            h3 MMA
            p.
              This subcategory is exclusive for the videos of  <a href="articles/mmaEng.html">FEMALE MMA FIGHTS</a>,  both in a gym and outdoors.
        include includes/cardsMMAEng.pug
    +footer
