include includes/head.pug
include includes/header.pug
include includes/slider.pug
include includes/footer.pug

doctype html
html(lang='en')
  +head('','Видео кикбоксинг, муай тай')
  body
    +header
    main
      +slider
      .container.videoAll
        .row.row-text
          .col
            h3 Кикбоксинг, муай тай
            p.
              Подкатегория для видео <b>ЖЕНСКИХ</b> боёв в зале по правилам <b>КИКБОКСИНГА</b> и <b>МУАЙ ТАЙ</b>.
            include includes/cardsBoxing.pug
        .row.row-text
          .col
            a(href='order.html') Как приобрести наше видео
    +footer
