body {
  background: url('../img/background.jpg');
}
* {
  h1 {
    font-size: 60px;
    font-weight: bold;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
  }
}

.logo {
  margin-top: 25px;
  background: linear-gradient(to right,#1B8BBA, #023C56);
  .row{
    padding: 30px 20px;
  }
  h1 {
    font-size: 60px;
    color: white;
    margin: 0;
    line-height: 0.85;
  }
  h2 {
    font-size: 25px;
    color: orange;
    margin-left: 2px;
  }
}
.navbar {
  margin-left: -15px;
  width: calc(100% + 30px);
  background-color: black;
  .navbar-brand {
    img {
      width: 100px;
    }
  }
  button {
    border: 1px solid white;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  ul {
    padding: 5px 0;
    a {
      color: white;
      padding-top: 0;
      padding-bottom: 0;
      &:hover {
        color:orange;
      }
    }
    li {
      padding-right: 25px;
    }
    li:not(:last-of-type) {
      border-right: 1px solid #13729A;
    }
    li:not(:first-of-type) {
      padding-left: 20px;
    }
  }
  
  
  .dropdown-menu {
    background-color: grey;
    .dropdown-item:hover {
      background-color: #555555;
    }
  }
}
.carousel {
  margin-left: -15px;
  width: calc(100% + 30px);
}
.mainCards {
  background-color: white;
  padding: 20px;
  .row {
    padding: 0 20px;
    margin-bottom: 15px;
  }
  img {
    float: left;
    margin-right: 10px;
  }
  h3{
    a{
      color: black;
      &:hover{
        text-decoration: none;
        color: #329CCB;
      }
    }
  }
  p { 
    a:hover{
      color: black;
    }
    margin-bottom: 10px;
  }
  button {
    color: white;
    background-color:#C0C0C0;
    border: none;
    height: 28px;
    &:hover {
      background-color: #1B8BBA;
    }
  }
}
.videoAll, .order, .videos {
  padding-top: 10px;
  background: white;
  h3:first-of-type {
    color: #1B8BBA;
  }
  .row-text{
    margin-left: 0;
    &:last-child {
      padding-bottom: 20px;
    }
  }
  .card-row {
    margin-left: 15px;
    margin-bottom: 20px;
    &:last-child {
      padding-bottom: 20px;
    }
  }
  .card {
    width: 205px;
    background-color: #FAF0E6;
    text-align: center;
    .card-img-top {
      width: 176px;
      margin: 5px auto 0;
      border-radius: 0;
    }
    .card-body {
      padding: 5px;
      text-align: center;
      line-height: 1.2;
      font-size: 14px;
    }
  }
}
.videos {
  .gallery {
    img {
      width: 330px;
    }
  }

}
footer {
  padding: 50px 0 0 0; 
  background-color: black;
  margin-bottom: 25px;
  .row {
    padding-left: 35px;
  }
  img {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    margin-bottom: 30px;
  }
  p {
    color: grey;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .social-my{
    display: flex;
    justify-content: center;
  }
  span{
    margin-right: 5px;
    img {
      width: 25px;
      height: 25px;
      opacity: .5;
      margin-right: -1px;
    }
  }
}
  

